[2021-11-29 19:29] erco77 commented on #300
@Albrecht-S yes, we want to avoid a "bug fix oscillation" where one bug's fix is another bug's bug.
There's a few times in FLTK where I've seen such oscillations span a decade or more, where it goes back and forth - so much time between the fixes, no one remembers the back-and-forth.

Luckily the commits show the related bugs clearly.

This is going to be really annoying to fix, but the penalty in

[2021-11-29 19:45] Albrecht-S commented on #296
@erco Is this now all fixed (I think so), can we close this issue?

[2021-11-29 20:24] Albrecht-S commented on #256
Progress report: I (force-)pushed many improvements of layout calculations and the existing demo programs to [my branch Fl_Grid in fork Albrecht-S/fltk](https://github.com/Albrecht-S/fltk/tree/Fl_Grid).

Known issues: column and row spanning may not yet work as expected.

If you like to test, please see all (currently four) demo programs in `test/grid_*.cxx`. Have fun!

Feeback would be appreciate

[2021-11-29 20:36] Albrecht-S commented on #256
**Disclaimer**: I should have mentioned that the code is "grown as-is", experimental, and still work in progress, far from being ready for release. I'm aware that the code needs a lot of polishing and this is not going to be released as it is now, but I wanted to share it anyway for testing and discussion of features.

It's particularly not yet the time to report memory leaks or related issues...

[2021-11-29 22:40] MoAlyousef commented on #298
Your example has the advantage of being able to properly handle events via the added widget instead of via the tree's callback method.

[2021-11-29 23:24] erco77 commented on #296
Need to send that email upstream. I sent you a private email about what I was sending them, and holding for your response on that. (Sent it about a week ago or so?) If you have time pls respond to that.

[2021-11-30 13:08] ManoloFLTK commented on #278
@jointri : could you, please, try replacing file src/Fl_Native_File_Chooser_GTK.cxx
in your FLTK source code by the version attached :
[Fl_Native_File_Chooser_GTK.cxx](https://github.com/fltk/fltk/files/7625922/Fl_Native_File_Chooser_GTK.cxx.txt)

After re-building the FLTK library, FLTK apps running with the KDE desktop should use the KDE file chooser when they use class Fl_Native_File_Chooser.

[2021-12-01 22:46] Albrecht-S commented on #256
FTR: I pushed new commits including a new demo `test/cube_new.cxx` which is a fully functional copy of `test/cube.cxx` with simplified layout based on `Fl_Grid` (as a proof of concept).

FYI: Good news: the FLTK Team voted to include `Fl_Grid` in FLTK 1.4.0. There's still some work to do but I'm confident that this can be done during a week or so. No guarantees though.

[2021-12-03 06:23] wcout opened #301 "X11 image drawing performance degredation with recent commit"
With one of my applications, which relies primarily on drawing lots of images, I notice a severe performance degradation with latest Github-FLTK version.

I tracked down the causing change to be:

[ X11+XRender platform: more accurate drawing of RGB images when GUI is scaled.](https://github.com/fltk/fltk/commit/2f506407327762ce30b4d895c856baa7f681d9bc)

Strange: My application is running unscaled

[2021-12-03 09:03] wcout commented on #301
Some more digging ... this change seems to fix it:

[code]

Must have something to do with `Fl_Scalable_Graphics_Driver::floor(int x, float s)` being a static method, which seems to be not inlined by the compiler (or whatever), leading to some costly calls? Strange...

[2021-12-03 11:50] Albrecht-S commented on #301
@ManoloFLTK ?

[2021-12-03 12:20] Albrecht-S commented on #298
This issue has developed to a discussion of FLTK features and solutions in Rust and AFAICT the OP found a solution.

Can we close this issue or are there still relevant open questions?

[2021-12-03 12:24] Albrecht-S commented on #296
@erco77 Greg, I think you sent the mail to the PNG team and we could close this issue since all warnings are fixed. If they update their code we will notice this when we upgrade to the next PNG version.

Can we close this issue?

[2021-12-03 13:21] AshfordN commented on #298
While this discourse produced a satisfactory workaround to my problem, the original issue actually dealt with the way in which  `Fl_Tree_Item::draw()` handles the output of `Fl_Tree_Item::draw_item_content()`, when `Fl_Tree_Item` has an assigned widget. In my opinion, the behavior of `Fl_Tree_Item::draw()`, in that context, did not reconcile with expected behavior. Moreover, the behavior gave rise

[2021-12-03 14:23] wcout commented on #301
Please don't invest your time in this ... though I see definitely this effect, there seem to  be some other accidental combination of things involved, that lead to the slowdown...
I have now compared the assembly code of the suspected instructions and it is (almost) identical!
I think I will close this one (and reopen only when 100% certain). Sorry for the noise!

[2021-12-03 16:59] erco77 commented on #296
Hadn't actually sent it yet, so was holding it open till I did.
Was procrastinating about whether to use the security email address or not.
Just sent it now, so closing.

[2021-12-03 16:59] #296 closed

[2021-12-03 19:03] spitzak commented on #278
The desktop designers are insane that they won't make this a trivial operation. Way back there was "xdialog", but every single time they rename the program for no reason, change the switches, and refuse to make the same program work with multiple desktop environments. I have no idea why but it is really frustrating.
On my machine it looks like "zenity" works.

[2021-12-03 19:04] spitzak commented on #278
PS: and please, please, please, make "what happens when user double-clicks a file" be "exec("open", filename, 0)"
The fact that there is an ancient program called "open" from Unix v7 is irrelevant, override it.

[2021-12-04 04:43] wcout commented on #301
It is so strange! The "real life" evidence shows consistently that this change makes the lag disappear from my application and re-appear if undone, but the "theory" shows, that this change has no effect on FLTK's code. Leaves me puzzled.
Closing for now...

[2021-12-04 04:43] #301 closed

[2021-12-04 17:41] Albrecht-S commented on #282
Fixed in commit 130f864d1d3f02f854a5f4085a49318a03a8eea0 (branch master) as well.

[2021-12-04 17:41] #282 closed

[2021-12-05 12:52] MatthiasWM opened #303 "Matt: accumulated Fl_Preferences issues, are there more?"
I will be fixing all complaints about Fl_Preferences soon.

This Issue is filed to make sure that I sum up everything correctly. Comments are welcome.

I won't fix Bill's complaint though that file formats have no business in a GUI library and Fl_Prefs should be removed. Even though he's probably right ;-) 🙋🏻‍♂️.

 - ✔︎ [https://github.com/fltk/fltk/issues/227](https://github.com/fltk/fltk/issues/

[2021-12-05 13:35] Albrecht-S commented on #303
Note: I edited a link in the comment above to make it accessible for non-devs.

Issue #79 maybe: "Fltk doesn't respect XDG Base Directory standard" (currently assigned to me, please feel free to assign to yourself).

Issue 79 mentions [STR 3370](https://www.fltk.org/str.php?L3370): "use freedesktop.org XDG basedir-spec" (also assigned to me, feel free to take over).

[2021-12-05 13:40] Albrecht-S commented on #303
I don't think that this is useful, I'd set the priority of this one very low. IMHO it's OK to mention that the syntax is similar to the "ini file standard" but nothing else is required. YMMV.

[2021-12-05 14:17] wcout commented on #300
One way out of the dilemma would be to defer buffer updates in Fl_Text_Display.

Following works:
[textdisplay_trigger_recalc_display.diff.txt](https://github.com/fltk/fltk/files/7656039/textdisplay_trigger_recalc_display.diff.txt)

[2021-12-05 14:51] Albrecht-S commented on #300
@wcout Great idea, thank you very much for the patch. I can't test it right now but I'm sure Greg (@erco77) will do.

I have one question: wouldn't it make sense to just set a flag in `trigger_recalc_display()` to delay all the calculations until `draw()` is called?

Disclaimer: I only "read" the patch, I didn't look at the underlying code and don't know if this is feasible. Maybe you, Chris, know

[2021-12-05 15:11] wcout commented on #300
Wow! **That's** a great idea!

And it works:
[textdisplay_trigger_recalc_display_v2.diff.txt](https://github.com/fltk/fltk/files/7656187/textdisplay_trigger_recalc_display_v2.diff.txt)

Note: Just changed my patch to test it quickly. But maybe it can now be written still easier. I'll leave this to someone else (@erco77 ?).

[2021-12-05 15:18] Albrecht-S commented on #300
Wow, that's a quick reaction! Thanks again, Chris.

[2021-12-05 18:45] ManoloFLTK commented on #278
@spitzak : the fix proposed above uses command `kdialog` to generate KDE-style file dialog windows for class Fl_Native_File_Chooser. Do you mean this is too unstable a procedure ?
The fix works only with the KDE desktop, because the same command produces GTK-style windows when run under Gnome.

[2021-12-05 22:43] spitzak commented on #278
No that sounds correct. I am just annoyed that xdialog was renamed. There is no reason not to use "x..." to run the desktop-specific instance, rather than "k.." and "g...". If in fact kdialog runs the GTK one when on Gnome, that is good. I don't like the idea that the desktop has to be determined in order to figure out what program to call however.

[2021-12-07 10:37] rempas opened #305 "Cannot build dynamic library"
I was able to successfully build and install FLTK but I'm not able to build it when I use the option `-DOPTION_BUILD_SHARED_LIBS=ON` to enable the shared libraries. When it tries to link the "libfltk_images.so" object, I get the following error message:
[code]

If you need more specific info:

**OS:** `Linux Lite 5.6`

**Command used to create Makefile:** `cmake .. -DCMAKE_BUILD_TYPE=Release \
-DO

[2021-12-07 16:40] pdhahn commented on #278
Introduction of a Qt dependency also introduces the Qt LICENSE DEPENDENCY! This is a BIG NO_NO for people like me using FLTK for commercial purposes (i.e., static link).

[2021-12-07 16:42] Albrecht-S commented on #305
Hi @rempas, thanks for the report. However, I can't reproduce this on my Linux system with FLTK 1.4 (git).

I see that you are building libjpeg which may be caused be missing development files of libjped on your system (this is detected by CMake). I used both the default build and one with system image libs disabled but none of them exhibited the issue.

I don't know `Linux Lite 5.6`. It looks lik

[2021-12-07 16:53] Albrecht-S commented on #305
FTR: Here's my CMake command:
[code]

[2021-12-07 21:00] ManoloFLTK commented on #278
The FLTK library is not linked to any Qt library, neither dynamically nor statically.
It runs the "kdialog" program if the running desktop is KDE and if "kdialog" is available
at run-time on the platform, and uses instead the GTK file dialog if "kdialog" is absent.

Does that impact the commercial use of FLTK?

[2021-12-07 21:12] Albrecht-S commented on #278
I'd say no but [IANAL](https://en.wikipedia.org/wiki/IANAL).

I think it's something like the fact that distros like Debian don't provide "non-free" software but you can download and install it yourself on your system. It's not exactly the same but I think it's similar. Again, IANAL.

[2021-12-07 22:41] Albrecht-S opened #306 "Timer issue on macOS"
This was [reported in fltk.coredev](https://groups.google.com/g/fltkcoredev/c/J001Qmol9_Y):

Thread: "Rare crash on repeat_timeout on macOS"
Date:   Tue, 7 Dec 2021 13:10:54 -0300

My reply:

On 12/7/21 11:22 PM Albrecht Schlosser wrote:

Hmm, OK, this observation rang a bell somewhere in my brain (faint memory).
I believe there are two issues, one in the FLTK code and one likely in your
program,

[2021-12-07 22:44] Albrecht-S commented on #306
Note to myself: the Fl::add_timeout() and related methods should be unified on all platforms with more common code and less platform specific code. The bug reported here results from a false assumption and different behavior on macOS than on other platforms.

[2021-12-07 22:53] ggarra13 commented on #306
Note that in my case I am not calling repeat_timeout from other place.  It Is being called from the same timeout.

[2021-12-07 23:19] Albrecht-S commented on #306
Thanks for the clarification. Repeating my reply from fltk.general for later reference:

OK, this may be a different issue than I thought. Looking at your report, your "fix" is:
[code]

If this does no longer crash then `current_timer` itself can't be `NULL` (otherwise it would still crash) but that was the case I had in mind.

The case that `(current_timer != nullptr)` but `(current_timer->timer

[2021-12-07 23:28] Albrecht-S commented on #306
@ggarra13 Gonzalo, can you "archive" the source code of the program that exhibits this issue so you can test it again after a potential fix? If the error is not reproducible with a small test case this would be a valuable help.

[2021-12-08 00:18] ggarra13 commented on #306
The source code is already archived in branch v6.0.2 of mrViewer on both GitHub and sourceforge.  Compiling it from scratch is another issue as it has many dependencies.

—
Gonzalo Garramuno
***@***.***

[2021-12-08 00:57] Albrecht-S commented on #306
I didn't say that I wanted to build and test it, I'd rather ask you to test again when we have something to test, but hopefully with the same (i.e. archived) software version. I hope you don't mind and will assist. TIA.

[2021-12-08 02:31] pdhahn commented on #278
If I use Qt, I must abide by its terms to do so. It is the same with any software or software component. Even if linking is not involved. It's about usage. Naturally, a this point, I am obliged to state I am not a lawyer (IANAL). But decisions pertaining to commercial issues frequently do not involve lawyers but rather common sense; a lwayer is the last resort.

From my perspective, even if users

[2021-12-08 06:14] ManoloFLTK commented on #278
Here are a few additional relevant facts in this topic:
- kdialog is not in the non-free part of Debian; it's in the "main" section;
- kdialog is licensed GPL;
- FLTK would neither modify nor distribute kdialog code, only run it if present.

What about an FLTK build option that would be on by default and that, if set to off,
would prevent class Fl_Native_File_Chooser from running kdialog?
A commer

[2021-12-08 07:27] pdhahn commented on #278
Yes, if there were a way to explicitly disable use of `kdialog` in the FLTK configure/build, it would satisfy my concerns.

FYI I get it that you want to improve FLTK and I (like so many others, I'm sure) thank you for all your efforts to do so. Likewise, let me thank you ahead of time for your diligence to preserve FLTK's independence and licensing integrity.

[2021-12-08 08:54] ManoloFLTK commented on #278
The git repo offers now (4bc25f7) a CMake option to disable use of `kdialog` by
class `Fl_Native_File_Chooser`. It's called OPTION_USE_KDIALOG and is On by default.

Under configure + make, edit `config.h` after configure and before make and set
`#define USE_KDIALOG`
to 0 therein.

[2021-12-08 15:39] pdhahn opened #307 "Obnoxious compiler warnings about unused parameters in FLTK 1.4"
First, my build platform: CentOS Linux 6 with g++ 5.1 on Xeon-based workstation. (yes I know, old stuff)

I realize this is likely not a high priority for FLTK maintainers, but whenever I build my application code that includes certain FLTK 1.4 `.H` files, I see obnoxious warnings about unused parameters emanating from those `.H` files. Yes I can turn off these warnings with the suitable compiler

[2021-12-08 16:17] Albrecht-S commented on #307
Thanks for the report, you are right that "unused parameter" warnings don't have high priority for developers.

But I do also agree that it would be good to eliminate such warnings at least from user visible code (header files), i.e. we might want to "clean" at least those. A quick minimal test with `-Wunused-parameter' exhibits a relatively small number of files (6) and issues (35):
[code]
This s

[2021-12-08 16:56] pdhahn commented on #307
Sure it makes complete sense that the priority is low, especially in light of the fact 1.4 is bleeding edge (I `git pull` the FLTK repo and rebuild at least nightly). I just wanted to get the issue onto the radar, so to speak. I do pay attention to things like this actually just because FLTK 1.4 is bleeding edge and I am of course therefore concerned about regressions. Note I am committed to 1.4 t

[2021-12-08 17:27] rempas commented on #305
Hi and sorry for the late answer. Yes I can confirm that there is an error with Linux Lite and that in my home PC which has Arch Linux, the library builds without any problems! Thanks a lot for your amazing work on FLTK!

[2021-12-08 17:27] #305 closed

[2021-12-08 17:29] erco77 opened #308 "RFE: change Fl_Scroll::fix_scrollbar_order() from private -> protected"
Classes deriving from `Fl_Scroll` need access to `fix_scrollbar_order()` to properly determine child widget size/placement based on scrollbar visibility, and that can only be done properly if the scrollbars are first in proper order.

`Fl_Scroll::recalc_scrollbars()` (protected) doesn't work properly unless the scrollbar order is correct, so unless the subclass can first fix the scrollbar order, i

[2021-12-08 17:36] erco77 commented on #308
This is a trivial fix, but looking for input before making the change, in case there's some reason not to change this method from private -> protected.

[2021-12-08 17:42] Albrecht-S commented on #308
I don't see any reason not to make this method protected. Maybe there are more methods that are private and should be protected as well but I don't know. I'd appreciate if you could check this as well (at least for the most obvious methods that can be used in subclasses).

+1 on the proposed change.

[2021-12-08 17:50] Albrecht-S commented on #308
Slightly OT but may be relevant: For some reasons we can't make `Fl_Group::add()` virtual which is a pity and precludes knowing when a widget has been added to a (derived) class as this might be useful for `Fl_Scroll` to check its scrollbars.

FLTK 1.4.0 will soon get a new mechanism (method) that will enable any class based on `Fl_Group` to detect when widgets are added or deleted. The details ar

[2021-12-08 17:51] Albrecht-S commented on #308
in the first message should probably read "... deriving from `Fl_Scroll` ..."

[2021-12-08 18:01] Albrecht-S commented on #307
Yep, I've seen this as well, thus I used `grep` and `sort -u` to filter by filename. I can fully understand that this is a pain in your build environment.

I added this issue (although low priority) to the release milestone because I believe it's not much work to fix it.

[2021-12-08 18:27] erco77 commented on #308
Fixed and closed.

[2021-12-08 18:27] #308 closed

[2021-12-08 22:11] ggarra13 commented on #306
El 7/12/21 a las 21:57, Albrecht Schlosser escribió:

Sure.  As I mentioned in the other thread, I found the cause of the
crash.  However if you later want to unify timeouts on all platforms, I
can certainly use my program as testbed.

[2021-12-09 06:30] ManoloFLTK commented on #306
@ggarra13 reports in fltk.coredev "Rare crash on repeat_timeout on macOS" that the
error was in the app, not in the FLTK library.

@Albrecht-S: Could you, please, reconsider your making of this issue a milestone
for FLTK 1.4.

[2021-12-09 10:46] ManoloFLTK commented on #307
@pdhahn : please `git pull `the lastest FLTK source code and report if these warnings have all disappeared.

[2021-12-09 12:33] #306 closed

[2021-12-09 14:54] AlexMax opened #309 "FLTK 1.4 does not properly size window when using display scaling on Windows 10."
For clarity, when I say "scaling" I'm talking about Windows 10 Display Scaling, not FLTK app scaling, which is set to `1.0f` for the purposes of demonstration.

Here is what my sample window looks like when my desktop is at 100% scaling.  The drawable window is 320x240 pixels.

![image](https://user-images.githubusercontent.com/23563/145418670-c5e70785-0d1a-4879-8a4f-9a118c38b504.png)

Here is wha

[2021-12-09 15:08] Albrecht-S commented on #309
@AlexMax Thanks for the report and for mentioning:

Can you please test and confirm that the FLTK demo programs and fluid work correctly with your scaling factor?

Can you please try your program w/o this manifest, just to exclude that this causes the issue? (I assume it does!)

If this changes (fixes) the issue, can you please provide a simple, complete test case like the one you showed in your r

[2021-12-09 15:12] Albrecht-S commented on #309
PS: build instructions with CMake (`CMakeLists.txt`) would be appreciated and preferred if you can do this, but otherwise please give us as detailed instructions as you can (e.g. for VS).

[2021-12-09 18:54] pdhahn commented on #307
Yes, all fixed now. Thanks!

[2021-12-09 18:56] #307 closed

[2021-12-09 18:59] pdhahn commented on #278
This is just to confirm that the new option is there in cmake as advertised, and I can set it 0 just fine. Thanks.

[2021-12-09 19:06] Albrecht-S commented on #307
@pdhahn Great, thanks for feedback!

And thanks to @ManoloFLTK for fixing the warnings, of course.

[2021-12-09 22:42] AlexMax commented on #309
Applying the manifest is actually not necessary to replicate the issue.  Here are instructions that I followed to replicate the exact same issue with FLUID.

- Ensure that you are using a display scaling setting in Windows 10.  I use 175% at 1440p, but I was able to replicate the issue at 125%, it just wasn't as bad.
- Right click on the executable and click "Properties".
- Click on the "Compatibi

[2021-12-10 00:15] AlexMax commented on #309
@Albrecht-S Here is a repo with a slightly modified "Hello World" that applies the manifest file.

https://github.com/AlexMax/fltk-manifest

These manifests are somewhat common in modern Windows C++ development, and is almost a requirement for games.  Games tend to want direct knowledge of the player's actual monitor resolution, and Windows' default scaling behavior tends to turn games without a m

[2021-12-10 01:02] Albrecht-S commented on #309
@AlexMax Thanks for the info so far. I tested the application properties setting dialog some hours ago when I saw your message on Matrix/Gitter/IRC (I'm on matrix from time to time, but we prefer our "forum" fltk.general which you can use like a mailing list. YMMV).

I know (basically) what a manifest is but I didn't know how to create one with CMake or MSVC or whatever.

WRT scaling in general: a

[2021-12-10 03:39] Albrecht-S commented on #309
@AlexMax I was able to build your CMake project (**thank you**) with manifest (FYI: with MinGW cross-compiler on Linux!) and I could also build the same program w/o manifest as `no-manifest.exe`.
[Note: I was curious if it worked with MinGW (yes) cross-compiled on Linux (yes!).]
I had to modify CMakeLists.txt somewhat but that was a minor change.

I copied the resulting .exe files to my Win10 VM a

[2021-12-10 04:36] AlexMax commented on #309
Before I start, thank you so much for your investigation into this issue.

However, just so we're on the same page, please note that in the example, I deliberately cut out the bottom and right borders - so if the black border is touching the bottom and right side and you can see the bottom right rounded corner, that's good.  But if the border is getting cut off, that's bad.  I noted this in commen

[2021-12-10 08:59] ManoloFLTK commented on #309
FLTK, for the Windows platform, makes this call when opening the display :
SetProcessDpiAwarenessContext(DPI_AWARENESS_CONTEXT_PER_MONITOR_AWARE_V2);

My understanding is that it does the same as a manifest for DPI awareness, without it.

@AlexMax : Could you, please, try your program with SDL and without manifest
and report what you get ?

[2021-12-10 13:00] MatthiasWM opened #311 "CMake for 1.4.0 does not conform to CMake's FindFLTK"
The CMake maintainers were nice enough to prove a FindFLTK script in their standard distribution. However FLTK 1.4.0 is no longer compatible to it. Docs are here: https://cmake.org/cmake/help/latest/module/FindFLTK.html .

Basically, `sudo cmake --install .` should install FLTK on any platform, so that `find_library(FLTK REQUIRED)` should set up all the variables mentioned in the CMake docs (and p

[2021-12-10 13:23] Albrecht-S commented on #309
@AlexMax Yes, I've seen what you changed and that the box border should be "at" the window border. For later reference I also note that the demo program's original (FLTK) window size is 320 x 140 which lets me calculate with my scaling factor of 1.25 and a title bar height of about 30 (32) pixels:
[code]

I can confirm that your demo program is _wrong_ **if the manifest is used** which is shown in

[2021-12-10 13:44] Albrecht-S commented on #309
@ManoloFLTK Can we test if the application has already been set to HiDPI scaling and not set it if true? Or something like that? Maybe our setting conflicts with the manifest setting...

[2021-12-10 14:16] ManoloFLTK commented on #309
@Albrecht: I would like first to get the reply about what happens without manifest, because I believe it should work, SDL included.

[2021-12-10 14:34] Albrecht-S commented on #309
OK, let's see.

FWIW, here is my modified CMakeLists.txt file that works with VS 2019:
[code]

@ManoloFLTK I'll follow this thread but I'll leave the further dialog and investigation(s) up to you. What I would like to know is why the window sizing goes awry when both a manifest sets DPI awareness and we are doing it at program startup. I'd like to see that this is not the case because other users

[2021-12-10 14:38] MoAlyousef commented on #311
Currently `add_subdirectory(my_fltk_clone)` works.

It's still not naive friendly though:
1- It requires adding the fltk binary dir to the target_include_directrories for the FL/abi-version.H header:
[code]

2- Naively one would expect run cmake -Bbin to only build the library. It currently also builds the whole suite of tests, you need either
[code]
or pass it in the cmake command line or gui.

[2021-12-10 14:50] Albrecht-S commented on #311
@MatthiasWM I know of the incompatibilities and I intend to improve our CMake files before the release of FLTK 1.4.

However, there's not much we can do about the outdated FindFLTK module provided by CMake. Even if we tried to "fix" this by pushing our own to the CMake folks this would -- obviously -- only mitigate this for users with the latest CMake version (or at least the one that has this upd

[2021-12-10 15:00] engelsman commented on #311
CMake's FindFLTK.html document is seriously out-of-date. It mentions FLTK2!

See https://www.fltk.org/articles.php?L834 "Using CMake to build and FLTK application"
which I originally wrote after struggling to get anything to work based on that howto.
Albrecht has some specific guidelines in README.CMake.txt which gets you further.

As far as I can tell, CMake's FindFLTK module was a user contribut

[2021-12-10 15:11] ManoloFLTK commented on #309
@Albrecht-S `why the window sizing goes awry?` I don't know why, but the Windows doc clearly states both mechanisms can't be used together.

`we can't tell the users generally not to use a manifest or not to set DPI awareness`
My view was that DPI awareness would be set inside FLTK, leaving apps free to use manifests for any other purpose. The benefit is that it works with all compilers and build

[2021-12-10 15:32] MatthiasWM commented on #311
Ah, great to see that this is a know issue. Yes, the FindFLTK script is more of a hassle than a help (there is a FIndFLTK2 as well...), but it's the solution that Forum users seem to find first :-( . Maybe we can teach CMake to honor the FindFLTK docs (and legacy apps), but also provide better CMake properties?!

Yes, I read the README.cmake, but installing for Xcode fails (it works via command li

[2021-12-10 17:01] Albrecht-S commented on #311
I'll try to do my best. We really need some improvements in CMake and I'm considering to raise the minimum CMake requirements from 3.2.3 to a higher version if needed. More "modern CMake" support will likely require higher CMake versions as well but I'd still like to stay conservative.

OTOH: CMake can be installed pretty easily on all major platforms. Linux distros may be a little behind, hence I

[2021-12-10 17:20] Albrecht-S commented on #309
OK, if this is true, then FLTK should detect if a manifest has set any of the HiDPI modes and not set its own mode. That sounds simple, but I'm aware that it may not be that simple. However I'm confident that you can find a solution. TIA.

Let's think the other way around: if the user uses a manifest that sets DPI awarenes it's for a reason. If FLTK would detect this and "do nothing" the app may n

[2021-12-11 00:06] AlexMax commented on #309
Just tried it.  FLTK worked like a champ, no surprise there.  I also tested Ctrl +/- and it didn't do any of the weird nonsense.

![odamex_tv1Tk2myKo](https://user-images.githubusercontent.com/23563/145655719-998d1d72-b377-49de-96b5-aea532b38960.png)

But my game also seemed to use pixel-perfect resolutions.  I did not expect that to happen.  I double-checked a build without FLTK to make sure my h

[2021-12-11 04:58] ManoloFLTK commented on #309
@AlexMax : Thanks for this experiment. Could you, please, confirm that also the SDL part of your game runs OK without the manifest?

Yes. The goal of FLTK is to provide automatically full pixel resolution to any app.

That's because if you don't call the GUI, you don't call the API that does the equivalent of the manifest.

FLTK is aware (sic) of that. It searches USER32.DLL for SetProcessDpiAware

[2021-12-11 05:06] ManoloFLTK commented on #309
@AlexMax : Does that mean that the SDL part of your app is better with FLTK 1.4 and no manifest than with FLTK 1.3 and the manifest?

[2021-12-11 10:48] ManoloFLTK commented on #309
@AlexMax : could you, please, try your app with the last FLTK version ( 0a8b184 ) ?
It should work both with and without manifest.
Please, report here what you get. TIA.

[2021-12-11 14:24] Albrecht-S commented on #309
@ManoloFLTK Thank you very much for this commit. @AlexMax's test program works now in my VS 2019 build perfectly with (left) and w/o manifest (right hand side):
![scaling-with-manifest](https://user-images.githubusercontent.com/26235500/145679433-979b117a-1a7a-4262-8f89-50783cef3539.png)

1. The two programs in the upper row were started when system scaling was at 125%.
2. After starting the two d

[2021-12-11 15:57] ManoloFLTK commented on #309
One more step in (12d699a).
A more advanced manifest is recognized by FLTK:

[code]
With it, an app does the same as what FLTK does without manifest, that is,
the app detects each display's scale factor.
`PerMonitorV2` instead of `PerMonitor` in the `dpiAwareness` line is also possible.

The simpler manifest (no `dpiAwareness` line) remains accepted.

[2021-12-11 16:00] AlexMax commented on #309
I tested my app with 12d699a and the program behaved exactly how I would expect it to!

Thank you so much for you time and quick turnaround!

[2021-12-11 18:12] Albrecht-S commented on #309
Then I believe this issue can be closed. I set labels `enhancement`, `fixed`, and `Windows`.

@ManoloFLTK, would you like to assign yourself and close?

[2021-12-11 18:29] erco77 opened #314 "RFE: non-const way to access menu items, similar to Fl_Group::child(int)"
Currently to access a menu item to make changes (e.g. to the 'flags'), one has to do a bit of convoluted casting and cast-away-const:

    Fl_Choice choice(..);
    choice.add("Aaa");
    choice.add("Bbb");
    int index = choice.add("Ccc");
    ((Fl_Menu_Item*)&(choice.menu()[index]))->flags |= FL_MENU_INVISIBLE; // UGH

..which is based on `Fl_Menu_.cxx's` own code, BTW.

It would be nice if the

[2021-12-11 18:39] ManoloFLTK commented on #309
@AlexMax : is it conceivable that you test your app with the more advanced manifest posted above? Would SDL behave correctly?

[2021-12-11 18:39] #309 closed

[2021-12-11 19:02] Albrecht-S commented on #314
I agree that such a method would be convenient and I do not object, but ...

The problem is that you can construct menus in static memory and write access to such menu items as proposed would be an access violation. OTOH, the way you create the menu in the example allocates it on the heap which is OK. Another way would be to copy the menu which is automatically done by some methods, e.g. adding a

[2021-12-12 14:16] Albrecht-S commented on #190
I believe this is something that @MatthiasWM could address. Matthias?

Note: I'm working on a new implementation of FLTK's timeout mechanism which could affect the internals used here in the Android port. But anyway, maybe the suggestion can be applied.

[2021-12-12 14:31] MatthiasWM commented on #190
Sorry, I have not touched the Android implementation in a long while. It will take at least a week to find myself back into the code. Wrapping up Fluid and Preferences has priority right now. But, yeah, the patch doesn't look wrong at first glance.

[2021-12-12 16:01] #270 closed

[2021-12-12 16:58] Albrecht-S commented on #190
Thanks, Matthias, I assigned this issue to you. Feel free to unassign...

[2021-12-13 10:32] MatthiasWM opened #317 "Fluid: new option for declaration"
We need an option for the first declaration(s) in a design to go in front of the `"#include <FL/Fl.H>"` that Fluid always generates in the header.

[2021-12-13 10:37] MatthiasWM opened #318 "Fluid: don't auto-indent preprocessor commands starting with a '#'"
This applies to callbacks (Widget and Menu Items), and to the Code type.

[2021-12-13 11:36] MatthiasWM opened #319 "Fluid: live resize mode no longer works for windows"
Selecting a window and clicking Live Mode in the properties to verify resizing behaviour now only shows a big empty green window.

[2021-12-13 11:49] Albrecht-S commented on #317
FWIW, here's a short test case for reference:
[code]

[2021-12-13 17:15] MatthiasWM opened #322 "Fluid: remove dependency on Forms, keep importing design files."
Fluid still links with fltk_forms without ever building a Forms widget. That should be fixable.

[2021-12-13 17:46] MatthiasWM commented on #322
Fixed: 21c328f0c556195ea8375cb40ad3de6e14fc429d

[2021-12-13 17:46] #322 closed

[2021-12-14 08:08] CendioOssman opened #325 "Disabling IM disables Greek and Cyrillic layouts on macOS"
If you call `Fl::disable_im()` on macOS then you disable not just layouts that use input methods, but all non-Latin layouts. This means that layouts such as Greek and Russian also get disabled, which is not what is desired.

The reason for this is because this was the easiest way to disable input methods on macOS, and it is also what other software such as Firefox and Chrome do for things like pas

[2021-12-14 21:59] MatthiasWM opened #326 "Fluid: when copying and pasting widgets, the widget bowser scrolls sometimes unexpectedly"
Especially when changing things at the top of the Widget Tree. Probably related to Widget_Browser::deleting() and similar calls.

[2021-12-14 22:01] MatthiasWM opened #327 "Fluid: arrow key events are eaten by a potential Input widget in the design"
To test, go into preference.fl and try to move a selected widget with the arrow keys. It won't work. Instead, the text cursor inside the Input Widget prototype will move.

[2021-12-14 22:08] erco77 commented on #300
Sure, I'll give this a spin. Anything to avoid `actually` fixing Fl_Text_Xxx, lol

[2021-12-14 23:43] Albrecht-S opened #328 "Fluid: save shell commands in per-file preferences"
I noticed that there's a new feature to save the shell command to the .fl file but I found a case where this is done when it should not.

Running `fluid -u xxx.fl' (which "updates" the .fl file to the current FLTK version) now unconditionally adds the last saved shell command to xxx.fl.

Thus it is possible to write a saved shell command of one project to another unrelated project. For a quick wor

[2021-12-14 23:48] Albrecht-S commented on #328
Note: after clearing the shell command and re-running `fluid -u` an empty shell command is added to the .fl file which is acceptable. But why add an empty shell command?

[2021-12-15 00:10] Albrecht-S opened #329 "fluid writes trailing spaces to .cxx files"
[code]

Note: In the above diff I replaced trailing spaces with `°°`.

This obviously happens if there are empty lines in the callback code, see `fluid/print_panel.fl` in item `Return_Button "Save"`, but there are more such examples.

Reproducer: execute the following command in the `fluid` folder:
[code]

[2021-12-15 00:19] Albrecht-S commented on #328
Another observation: if I use the "old" 1.4.0 fluid version to read a file written by the current version I see these console messages:
[code]

but this is probably something we can't avoid, right? Top 10 lines of the file:
[code]

[2021-12-15 12:05] MatthiasWM commented on #329
Schools be easy to fix. I was so careful, and still this bug crept in. Sigh.

[2021-12-15 18:40] #329 closed

[2021-12-15 18:41] #318 closed

[2021-12-15 19:26] MatthiasWM commented on #328
Changing project settings will always cause error messages in previous Fluid versions. Also, reading is quite inefficient. I'll try to find a solution here.

To correctly write the shell commands as a project setting, I need to differentiate better between inherited settings, personal settings, and project related settings.

[2021-12-15 19:42] Albrecht-S commented on #328
Thanks for the update. I'll try this tomorrow. (?)

[2021-12-15 21:21] erco77 commented on #314
Good idea -- I'll be sure to mention the `const static` issue in the docs.

IIRC, just the act of add()ing an item to a static menu makes an in-memory copy which then makes it writable. There is also an Fl_Menu_::copy() function, not sure if that can be a workaround too.

Looking at Fl_Menu_.cxx, there is an 'owner' variable that seems to be in place for this purpose(?), but it's defined /below/ t

[2021-12-15 21:49] Albrecht-S commented on #314
If (when) you do that: ISTR that there are issues WRT copying menus where it's not clear under which conditions the menu is owned by whom and can be destroyed when the widget is deleted. I'm not sure if there's an old STR (didn't find one in a quick search), it might have been a discussion in fltk.cordev (or general).

[2021-12-15 22:00] Albrecht-S commented on #314
I found the discussion in fltk.coredev in thread "[Fl_Menu_::copy() just evil, what to do?](https://groups.google.com/g/fltkcoredev/c/eNsWc1KXv3Y/m/OyvnIXQ5_3AJ)"

@erco77 FYI, I just copied the link for reference, I didn't (and will not) investigate further.

[2021-12-15 22:42] MatthiasWM commented on #327
Ok, step by step:
 - Open Fluid, open test/preference.fl
 - Click on "shoes", the menu opens
 - Click on "shoes" again, the menu closes and "shows" gets its red frame
 - Press the down arrow. Instead of moving the widget down, the focus box appears around the "left side" item.
 - Arrow keys now move the focus box, but they should move the "shoes" instead

[2021-12-15 23:13] erco77 commented on #314
Yikes, that sounds like it needs its own issue for sure to investigate.

I'm not going to get into that whole mess, that's a huge rabbit hole that needs its own army to investigate.

I may poke at it a little bit just to see, but in general I've never used the static array approach (though I know fluid does). Perhaps fluid should be changed or have an option to define menus as code (e.g. add()) ra

[2021-12-15 23:36] erco77 opened #332 "Investigate possible memory management issues with Fl_Menu"
Albrecht reminds us about an old 2015 fltk.coredev thread:

- Subject: "[Fl_Menu_::copy() just evil](https://groups.google.com/g/fltkcoredev/c/eNsWc1KXv3Y/m/OyvnIXQ5_3AJ)"

..regarding possible memory issues with Fl_Menu (and friends) with respect to static definitions of menus and how they interact with Fl_Menu_::copy(), i.e. if it's a "deep copy", or what.

Quoting the OP (I think @CendioOssman

[2021-12-15 23:36] erco77 commented on #314
Opened a separate issue #332 regarding researching that Pierre Ossman thread.

[2021-12-16 04:30] erco77 commented on #332
Hmm, I'm not convinced of the OP's described behavior.

When I create a test program that creates a `const static Fl_Menu_Item {}` array, then call `copy()` on it, `strdup()` and `free()` are NEVER CALLED in the Fl_Menu* system.

There are only 4 free()s in Fl_Menu*:
[code]
The first is used during some weird case during drawing related to utf that seems entirely unrelated, so that can be ignored.

[2021-12-16 04:45] erco77 commented on #332
Looking at `Fl_Menu_Item`, since all the members are exposed publicly, it might be a little trickier than usual to implement a private flag for each item.

There is already a `flags` bit field where with reserved bits we could make use of. But since the member is public, it's possible user applications might try to use those bits, which could create problems.

We could add a new `uchar __flags;` a

[2021-12-16 05:23] erco77 commented on #332
FWIW, attaching a small test program that shows the un-free()ed strdup()s:
[issue-332-mix-of-static-and-clear-shows-memleak.cxx.txt](https://github.com/fltk/fltk/files/7724743/issue-332-mix-of-static-and-clear-shows-memleak.cxx.txt)
See the comments in the code for build/valgrind instructions.

An example from valgrind of unfreed memory (trimmed for brevity):
[code]

[2021-12-16 05:42] erco77 commented on #332
Also attaching a [issue-332-simple-static-menu.cxx.txt](https://github.com/fltk/fltk/files/7724837/issue-332-simple-static-menu.cxx.txt) showing no improper free()s are called when:

- A static menu is assigned to a new Fl_Menu_Bar
- a copy() is made
- clear() is called

In the above case, tracing the value of Fl_Menu_'s internal `alloc` member:

- When Fl_Menu created, alloc=0
- When the menu() i

[2021-12-16 12:11] jointri commented on #278
You guys are the best. I am very happy I can set FLTK to use kdialog on linux/BSD rather than be stuck with GTK. Does this mean my issue is solved and I can close it now?

[2021-12-16 13:45] Albrecht-S commented on #332
@erco77 After reading the old thread again and your findings I got the impression that you probably found the same results that we found in that old discussion which is hard to read because findings changed over time, and after looking at the code again I believe I can summarize and confirm:

- strings are **only** `free()`d if `alloc` == 2
- `alloc` becomes 2 **if and only if** a new, **empty men

[2021-12-16 13:59] Albrecht-S commented on #332
+1 :+1:

My take on this is that we shouldn't care if anybody (mis)used **_supposedly_** free bits in the flags member. If someone did this then they should know about the risk - unless some of the bits are documented to be freely usable (I didn't check the docs).

-1 :-1: This would extend the struct by a new member which can be an issue when structs are initialized statically because newer compi

[2021-12-16 14:26] Albrecht-S commented on #332
Piere also described a potential application where a menu is allocated on the stack and the menu lives longer than the stack variable because it's assigned to a menu object, something like (code modified by me):
[code]
The question is under which circumstances this is correct and what happens if the menu labels are not strings in static memory (as above) but also stack variables if you want to cre

[2021-12-16 15:18] erco77 commented on #332
Good, sounds like we're on the same page. I mean I went through all this with Fl_Tree (Fl_Tree_Item, etc), except I was able to ignore this whole mess of using "static trees" by simply not supporting that technique.. add() is the only way to build a tree with Fl_Tree.

Reacting to this:

If that were the case then why does this work at all:

[code]
If I understand you correctly, then all this shor

[2021-12-16 16:20] Albrecht-S commented on #332
Sure, leaving out members at the end of structs is AFAICT well defined, int's are initialized with zero etc.. I know that I've seen compiler warnings about uninitialized struct or class members (even about wrong initialization order!) but this may have been something with classes, constructors, or such. The reason I want to avoid this is because the experience tells you that compilers become picki

[2021-12-16 16:20] MatthiasWM commented on #332
1: if we added flags and want to avoid conflicts with existing code, we can change `uchar _flags` into `uword` or `uint`. That ay, we add plenty of flag fields that we can document as reserved, and old source code will still use only the Lowes 8 bits.

2: to make this perfect, we would actually need a use counter: if a menu is duplicated multiple times, only the last deletion can free the string,

[2021-12-16 16:24] Albrecht-S commented on #332
+1 :+1:

That's the best solution I've seen so far. We could talk about the size, but yes, that would avoid conflicts with existing user code for sure.

[2021-12-16 16:43] erco77 commented on #332
Mm, the stack/copy() example you show is an odd one.. we should probably document the only recommended techniques for static use, and suggest people don't play around too much.

I suppose what pierre is looking for is a 'deep copy', which is probably fine, we could support a deepcopy() function (I think python uses copy() and deepcopy() for dicts IIRC) so that it would strdup() all the labels too.

[2021-12-16 16:56] engelsman commented on #332
I've not looked at the innards of Fl_Menu so take this as a bit of brain storming and shoot me down in flames :-)

Why not mark the existing use of static Fl_Menu_Item arrays as deprecated in its current form, with the idea that a future implementation [with a different signature?] will simply copy the items from the static array into heap allocated members within Fl_Menu, so that ultimately you w

[2021-12-16 17:14] erco77 commented on #332
OK, so just trying to follow along here; Albrecht you're +1 on Matt's option (1), which I think is to add a new `_flags` member at the end of the struct, but as a int instead of a char.. our existing `flags` member (no underbar) is already an int. (The `unsigned` bit is irrelevant)

I'm kinda -1 on adding a strdup() flag to the existing `flags`, because that's dangerous: users could think they can

[2021-12-16 17:24] erco77 commented on #332
@engelsman Yea, I always felt add() should be used in favor of static arrays.

But we don't have to deprecate static ways of building menus, we could just always strdup() the labels, even when menu(m) is used. Then we don't even need a strdup() flag; all labels are strdup()ed and have to be free()ed, and copy() would always do a deep copy.

[2021-12-16 17:51] erco77 commented on #7
Update: I've added "gitter" and "matrix/element" chat icon links to the FLTK main page (at the top right, next to the github and RSS feed icons).

[2021-12-16 18:04] erco77 commented on #332
So summing up (I think) here's the options I see so far; lemme know what you think is best:

1. Keep existing behavior, but add a strdup() flag to `Fl_Menu_Item` to keep track of strdup()s so we don't leak when copy() and add() is used. Optionally add a deepcopy() method that forces a strdup() of all labels.
2. Same as above, but change copy() to do a deep copy _always_, so we don't need a  deepco

[2021-12-16 18:18] MatthiasWM commented on #332
@erco77  Matt's option (1), which I think is to add a new _flags member at the end of the struct, but as a int instead of a char.. our existing flags member (no underbar) is already an int. (The unsigned bit is irrelevant)

Ouch, no, sorry. In my mind `flags` was still `uchar` and I just wanted to expand it. Attaching yet another item is a -1 for me.

@erco77 1. Keep existing behavior, but add a s

[2021-12-16 18:42] erco77 commented on #332
@MatthiasWM  some followup:

Yes, good to point out.

Oh, good point -- I don't know much about that actually.. just looking into it now.

So uh, if I understand this right, if the Fl_Multi_Label flag is set, label() is not a string, it's a, hrm, a pointer to an Fl_Multi_Label struct. And because it's a struct, I don't think the semantics of a copy constructor applies, so I suppose it too needs a

[2021-12-16 18:49] erco77 commented on #332
Oh, forgot about this:

Hmm.. I must be missing something, I'm not offhand seeing what implications with those flags would have with respect to a copy vs. deep copy.

FL_MENU_VALUE is just an on/off flag for check buttons, so copy() or deepcopy() would just copy the bit.. not sure I see a problem there?

Ditto for the FL_MENU_INACTIVE flag.. not sure I see a copy vs. deepcopy implication there..?

[2021-12-16 19:01] MatthiasWM commented on #332
[code]
if `menu()` will default to `copy()`, the third line will no longer deactivate the menu item, because `my_menu_button` shows only a copy of the original menu.

@erco77 Sorry, the Close button is bigger than the Comment button 🤔

[2021-12-16 19:21] erco77 commented on #332
@MatthiasWM regarding deactivate implications..

Ah, OK, I see what you're saying -- we can't have menu() do a deep copy then, or we break that pattern of use (which I wasn't aware of -- I don't really define menus this way).

So that pretty much kills the option (3) suggestion (which is I think what  @engelsman was getting at), which means we're back to needing a strdup() management bit in the it

[2021-12-16 19:29] Albrecht-S commented on #332
Last one first: @MatthiasWM Fl_Menu_Button::menu(..) does not do a copy(), it assigns a pointer. Your example would still work although I would discourage using it this way. But anyway...

@erco77 No, I didn't look at the `'_'` and thought Matt's info and his words to **change** this member was real and the existing flags member was `uchar`. Even if the existing flags member is already an int I be

[2021-12-16 20:01] Albrecht-S commented on #332
Regarding `copy()` or `deepcopy()`:  The current status is inconsistent, hard to document, and much too complicated. The implementation is also somewhat a mess, using a global variable as a pointer to an internally allocated menu array while it's being created (adding menuitems) and requiring to call `menu_end()` to copy it to its final storage and so on. As we can see, neither users nor devs can

[2021-12-16 20:18] Albrecht-S commented on #332
@MatthiasWM and @erco77

I don't see how this could be correct. If we make a (deep) copy we set the bit in the copied menu item and leave the old menu item alone. That is always correct. Since we do a deep copy the string gets duplicated (i.e. the destination string will be freed when the menu is deleted) and the source string will be left as is (with the `dup` bit set or not).

If we make a "norm

[2021-12-16 20:26] Albrecht-S commented on #332
Hmm, another question (I'm confused now): I think we found out that `copy()` does not copy the strings and sets `alloc` to 1. Only dynamic creation of menus sets the `alloc` member to 2. Correct?

Now, what happens if:
(1) menu A is created dynamically with add() and insert() ? [Hint: alloc = 2 ?]
(2) menu A is copied to a new menu B which is used in a widget
(3) menu A is deleted

Wouldn't the st

[2021-12-16 21:05] erco77 commented on #332
Between trying to keep backwards compatibility and fix bugs, it gets so complicated, it'd be hard to describe proper use and not break existing code.

I think the problem is, it's so complicated, users just "do whatever" until it seems to work, and we're stuck with supporting that, or we break existing apps, which is not in our interest. FLTK 1's claim to success is "warts and all". Try to really

[2021-12-16 21:17] Albrecht-S commented on #332
If my example application pseudo code does what I assume then it's clearly a bug and needs to be fixed. And I mean in the current FLTK 1.4 code. FLTK 1.3.8 would supposedly be the same but this doesn't mean that we need to fix 1.3 for such a corner case.

@erco77 Looking forward to your reply, I'm currently not in the mood to try a test program (not even those posted by you above).

[2021-12-16 22:16] MatthiasWM commented on #332
tl;dr: leave it the way it is and document it

Some use cases from within FLTK:

 - Fluid does not copy the Menubar. So, yes, people do write into the original menu array.
 - The history `label_` just points at a string that is changed randomly. A `strdup()` when setting or copying the menu would break this. Calling `copy()` automatically when calling `menu()`, as @erco77 suggested, will break thi

[2021-12-16 22:42] Albrecht-S commented on #332
@MatthiasWM To clarify things:

I'm not aware that @erco77 suggested to make `menu()` do `copy()` and I (personally) never intended to do this. That's why I wrote above that `menu()` does not copy the menuitems array, or something to that effect.

If you build a static menu (in read-write memory) you can access the menuitems by index, that's true, and this has always been this way as far as I can

[2021-12-16 22:53] MatthiasWM commented on #332
@erco77 wrote under 3. "Change menu() and copy() to always deep copy", and I wouldn't do that.

[2021-12-16 23:34] erco77 commented on #332
"Doing the minimum" seems like the right thing, and paying attention to documenting proper use and what to avoid.

That said, we could still try to add the strdup() flag to `Fl_Tree_Item`.

But given that, I'd still would like to hear some feedback on this issue I raised a few times if we try to use a `flag` bit, paraphrasing for clarity:

That is the main reason why I was suggesting a separate `_

[2021-12-17 00:01] Albrecht-S commented on #332
@MatthiasWM wrote

You're correct, I must have missed the words _"menu() and"_ and I agree that this should not be done. Regarding `copy()` I do also agree now although my first feeling was that this would be a good choice.

@erco77 wrote:

OK, I thought you meant users using their own bit flags in "free" bits of the current `flags`, but your point (**assignment** of another value like above) is a

[2021-12-17 10:29] #278 closed

[2021-12-17 10:34] MatthiasWM commented on #326
Example: load test/preferences.fl, select the first entry `#include <FL/Fl_Preferences.H>`, press F3 to move the entry down. The widget browser will scroll to the third line, hiding the first two lines, and the scrollbar can't scroll up. To see the first two (swapped) items, one has to scroll down first and then back up.

[2021-12-17 15:04] ManoloFLTK commented on #325
@CendioOssman : Thanks for the proposed fix. It's now committed to the git repo for the main branch which will soon become FLTK 1.4. Can you confirm it's OK for you?

[2021-12-17 15:18] Albrecht-S commented on #314
I'll research it when I dive into this issue

@erco77 Is this `'owner'` variable you mentioned `'fl_menu_array_owner'`? I can't see another 'owner' variable. If yes, FWIW: this global variable is used to build a temporary array of menuitems while e.g. menuitems are `add()`ed or `insert()`ed.

[2021-12-17 17:39] MatthiasWM commented on #326
In all my tests this worked very well. I'll be happy to revisit if anyone still has issues with this browser scrollbar behaviour.

[2021-12-17 17:39] #326 closed

[2021-12-17 17:58] erco77 commented on #332
OK, I'll make an "issue_332" branch off master, and proceed. This way others here can join in to make e.g. code/documentation tweaks before the merge.

I imagine the code changes will be small, but the doc changes large.

My plan is to make some elaborations in the docs:

- code examples of the various ways statically declared menus can be used correctly
- bullet list of things you should not do w

[2021-12-17 18:49] #327 closed

[2021-12-17 19:07] MatthiasWM commented on #237
Documented now.

[2021-12-17 19:07] #237 closed

[2021-12-17 19:29] #233 closed

[2021-12-18 00:28] AlexMax opened #337 "Windows + CMake buildsystem misbehaves when using a mix of internal and external image libraries"
A big shout-out to @Albrecht-S for his prior help.

I have FLTK as a dependency for a game.  The game uses zlib and libPNG, but not libJPEG.  I build FLTK with the exact same settings as my parent project, and additionally...

- `-DOPTION_USE_SYSTEM_LIBJPEG=OFF`
- `-DOPTION_PRINT_SUPPORT=OFF`
- `-DOPTION_USE_GL=OFF`
- `-DFLTK_BUILD_TEST=OFF`
- `-DZLIB_LIBRARY_RELEASE=${CMAKE_CURRENT_BINARY_DIR}/lo

[2021-12-18 02:30] MoAlyousef opened #338 "Fl_Input crashing app on initialization on windows"
Hi
This is recent, I think I can pinpoint the issue to commit f76e579ffec32aaf1095d37aaf4a54780fd20b6c from a few days ago.
A minimal repro:
[code]
Built with cmake with option gdiplus. Tried on windows 10 x64 (both mingw and msvc toolchains).
The backtrace looks like:
[code]

I also have the msvc stacktrace if needed.

[2021-12-18 09:36] engelsman commented on #338
And what happens if you #include Fl.H first, as advised in the documentation?

[2021-12-18 11:19] MoAlyousef commented on #338
Changing the include order as suggested still crashes

[2021-12-18 13:06] Albrecht-S commented on #337
Thank you very much for the report and your help in the long investigation (dialog) on Matrix in the previous days. As we found out linking `fluid` was broken because `src/Fl_JPEG_Image.cxx` was obviously compiled with the "system jpeg" headers and not with FLTK's internal "prefixed" headers.

BTW: it's a **positive effect** of our new *image library prefixing* to see these error messages rather t

[2021-12-18 13:13] Albrecht-S commented on #337
@AlexMax We're open for such discussions in our [developer forum fltk.coredev](https://groups.google.com/g/fltkcoredev) (Google Groups). Please don't follow-up in this thread (issue) because it would distract from the original problem. Thanks

[2021-12-18 14:06] Albrecht-S opened #340 "Fluid: compiler warnings"
[code]

I could have fixed this myself by just removing the offending statements but the comments above these statements made me hesitate. Is there anything missing or what do the comments mean?
[code]

@MatthiasWM Can you please take a look?

[2021-12-18 14:23] MatthiasWM commented on #340
Thanks, those were leftovers from previous code that was replaced by one short function call. I have to find a way to tell CMake to be much more strict with warnings in Xcode!

[2021-12-18 14:23] #340 closed

[2021-12-18 16:50] Albrecht-S commented on #338
I can confirm the issue with MinGW, cross-compiled on Linux.

@manolo, can you please take a look at this issue?

[2021-12-18 22:35] engelsman commented on #338
I'm on MacOSX, and have just done a git pull on fltk-1.4.x and rebuilt using Cmake
with the default settings, and can rebuild and run the OP's original code using:
    build/bin/fltk-config --compile issue338.cxx
[I do get warnings about the two 'auto' line, but maybe that's just my default setup]

[2021-12-18 22:42] Albrecht-S commented on #338
@engelsman Yep, the issue is Windows specific. It's caused by `fl_set_spot()` which has been changed recently by @ManoloFLTK. I don't know the details, I just mention the facts.

[2021-12-19 00:38] MatthiasWM opened #342 "Fluid: Must split delete_all into multiple functions"
void delete_all(int selected_only) in fluid.cxx is used when a new project is started, so it resets some (FIXME: not all!) of the project settings. However, it is also used in the undo/redo process, resetting project settings whenever the user chooses undo. OTHOH, since not *all* project settings are reset, loading a new project can inherit settings from a previous one.

[2021-12-19 04:22] AlexMax commented on #337
Just to update the thread, the small throwaway parenthetical I made regarding `CMAKE_PREFIX_PATH` made me double-check my work and I realized that I was not passing that variable to the FLTK build.  Doing that fixed my specific problem, though I'm not sure if you want to keep the issue open or not.

[2021-12-19 04:31] AlexMax opened #344 "Address Sanitizer: New/Delete Type Mismatch on Windows+MSVC"
This bug happens on FLTK commit 2953187.  I ran into this bug in my app that uses FLTK, but I also managed to make it happen with a plain old FLUID binary straight out of the repository.  This bug should be pretty easy to replicate - for me it's a 5/5 repro:

1. Clone FLTK.
2. Using CMake, generate an MSVC project for a version of MSVC that support address sanitizer.  I used 2022, but I've had goo

[2021-12-19 07:52] ManoloFLTK commented on #338
@MoAlyousef : should be fixed now in the git repo. Could you confirm, please?

[2021-12-19 08:10] ManoloFLTK commented on #344
@AlexMax: could you, please, try to replace, in file src/Fl_win32.cxx, in
function fl_free_fonts at line #2687
      `delete f;`
by
      `delete (Fl_GDI_Font_Descriptor*)f;`
and report whether the sanity check runs without error?

[2021-12-19 09:46] MoAlyousef commented on #338
Hi
Yes it’s fixed. Thank you 🙏

[2021-12-19 09:46] #338 closed

[2021-12-19 12:30] MatthiasWM opened #345 "Fluid: improve numeric input fields in Widget Dialog"
The fields for x, y, w, and h should understand easy mathematical formulas.

Let's say we want to move a widget 24 pixels down, and the current y coordinate is already displayed, the field should understand if we just append `+24` to the text, calculating the new y coordinate for us. If we select multiple widgets, entering `y+24` should move them all 24 pixels down. We can add a few more predefine

[2021-12-19 12:32] MatthiasWM opened #346 "Fluid: redesign and fix all Settings dialogs"
We need to separate Fluid settings vs. Project settings and probably also support user settings, make sure all those are correctly initialised when starting a new design, and reorder them from multiple "grown" dialogs into two cleaned up Settings dialogs.

[2021-12-19 12:33] MatthiasWM commented on #346
See [STR 2586](https://www.fltk.org/str.php?L2586).

[2021-12-19 12:40] MatthiasWM opened #347 "Fluid: remove modal dialogs"
All non-widget dialog boxes (for example, create a new function) are modal dialogs that will disable everything Fluid until they are fully filled out.

Modal dialogs are discouraged In modern UI design, and we have already a great example with the Widget dialog. This dialog is non-modal, show changes immediately in the design, the browser, and the source code preview. It can edit multiple widgets

[2021-12-19 12:46] MatthiasWM opened #348 "RFC: Fluid: replace "Extra Code" fields with code input fields"
The Widget dialog offers four lines of "Extra Code" for all widgets. Not only is the number arbitrary, but depending on the first character in the code field ('#') the code will be written to the header or the source file.

I think it would be more obvious if we had two text fields, one for code that goes int the header, one for source code. Both fields could be resizable, not limiting the user to

[2021-12-19 14:46] Albrecht-S commented on #348
I'm not interested for own applications because I'm not using fluid much, but I agree that these four source code lines are not really "usable". Such simple operations like inserting a line or reordering need too much effort and the limit to four lines is ... suboptimal.
+1 :+1: on adding this new feature.
I'm not personally concerned about backwards compatibility, this question needs to be answer

[2021-12-19 14:48] Albrecht-S commented on #347
Tabs kinda "hide" things, even if you changed things in one tab, switched to another tab, etc. If this is not an issue...
+1 :+1:

[2021-12-19 15:10] Albrecht-S opened #349 "Fluid: separate system settings (global and user) to another program"
Fluid is a developer tool and the menu
- Edit
- .. Global FLTK Settings

should be accessible to users and system admins w/o having to use such a developer tool.

AFAICT we added these global and user system preferences to fluid because we needed a quick solution for all the new `Fl::option()` settings.

I propose to add a new tool that users can use to set their own preferences and system admins

[2021-12-19 15:42] MatthiasWM commented on #347
The non-modal dialogs should never require the user to click *ok* or *apply* or similar. Modern UI applies user changes immediately, so changing tabs will not hide anything unsaved. I will make a test implementation and see how things go in a use case.

[2021-12-19 15:49] MatthiasWM commented on #349
- + 1 👍 on adding that tool
 - other name option is Floss (FLTK operational system settings), Flux (FLTK User eXperience is probably taken)

[2021-12-19 17:28] AlexMax commented on #344
@ManoloFLTK Indeed, that seems to clear up the issue.

[code]

[2021-12-19 18:35] erco77 commented on #332
I have the flag implemented, but now tracing through memory leaks.
Dropping some breadcrumbs as I go:

It appears Fl_Menu_::clear() leaks the entire menu_ array if:

- a static menu() is set
- then you add() to it (which creates a copy() of the menu internally)

The logic in clear() skips a delete[] that leaks the menu_ array. Since clear() is also called by the Fl_Menu dtor, it leaks memory when

[2021-12-19 18:51] #344 closed

[2021-12-19 19:24] Albrecht-S commented on #332
AFAICT off the top of my head the idea behind `fl_menu_array_owner` is that this is set while a menu is being built by using `add()` or `insert()`. At that time there's internal storage in use that is in fact owned by FLTK itself and never freed. In this case the menu "owns" the internal storage which must not be released. If (later) another menu needs to be built the previous owner gets a copy of

[2021-12-19 19:27] erco77 commented on #332
My work in progress will be on this fork, branch issue_332:
https://github.com/erco77/fltk/tree/issue_332

[2021-12-19 19:28] Albrecht-S commented on #332
Another test would be to create another menu before (!) calling `menubar.clear()` (even without `menubar.menu_end()`), then the second menu would be the `fl_menu_array_owner` and so on.

There can be only one ...

[2021-12-19 19:39] erco77 commented on #332
@Albrecht-S I did add menubar.menu_end() to my test program after the last add(), but it didn't affect the leak.

My current understanding of `fl_menu_array_owner` (and the existence of `src/Fl_Menu_add.cxx` as being a separate module) seems to be to work around the fact that Fl_Menu_Item doesn't know who its parent Fl_Menu_ is (e.g. no back reference). In Fl_Tree I ran into this, and simply added

[2021-12-19 19:42] erco77 commented on #332
My perhaps dim understanding of the situation: if alloc >= 1, the menu_ was created with 'new[]' and therefore _has_ to be delete[]'ed to be freed, so I'm not sure I see why clear() wouldn't delete[] if e.g. alloc==1 without any other conditionals (namely the value of `fl_menu_array_owner`).

[2021-12-19 20:07] Albrecht-S commented on #332
Again, from my memory: alloc == 1 because the memory has been allocated but if (while!) this is the `fl_menu_array_owner` the menu pointer points at internal storage owned by the FLTK library which must not be freed. This is a special trick to be able to extend the array w/o having to pre-allocate a menuitem array for each single menu. If you create menus dynamically with add() and insert() the la

[2021-12-19 20:27] Albrecht-S commented on #332
FWIW, I just ran your example code with a debugger. The original code does not `delete[]` the menu array but if I add `menu_end()` as suggested it does `delete[]` the menu. QED.

What I want to say is: don't waste your time looking for **this** putative leak, it is **NOT** a leak. There may well be others.

BTW: I didn't find any commits yet in your branch, did you not push to it yet?

[2021-12-19 20:37] bikepunkmaggie opened #350 "Cairo and new ABI"
I built and installed on my Linux machine today (been about 3 days since I done a build).  All went well with the build.  Went to work on my project using FLTK and it bombed on build stating Fl_Cairo.H cannot find cairo.h (line 33 of Fl_Cairo.H).

On my machine, cairo.h is in /usr/include/cairo.  To make work real quick, I just updated Fl_Cairo.H to have the include as  # include <cairo/cairo.h>.

[2021-12-19 20:46] Albrecht-S commented on #350
Did you update FLTK from git and/or which commit are you (now) using?
If not from Git, which snapshot or where did you download FLTK from?
How did you build FLTK itself (configure/make or CMake)?
I assume CMake.

And what do you mean with "new ABI"?

Whatever the answers are, please try to update FLTK to the latest Git version and run a complete fresh build.

If you built FLTK with configure/make:

[2021-12-19 20:52] Albrecht-S commented on #350
Another question: does the FLTK demo program test/cairo.cxx work? Does it display the Cairo image as shown in the documentation?
Link: https://fltk.gitlab.io/fltk/cairo_test.png

[2021-12-19 20:58] Albrecht-S commented on #332
I'd guess because the local_array_xxx stuff was added when `Fl_Menu_::add()` and `insert()` were created. These variables are all `static` and consequently the only references are in `src/Fl_Menu_add.cxx`.

[2021-12-19 21:00] Albrecht-S commented on #337
Thanks. And yes, I still want to let the issue open for further investigation.

[2021-12-19 21:11] Albrecht-S opened #351 "Fluid: suspicious compiler warning"
[code]

This looks like the warning might be legitimate but - sorry - I didn't investigate. I don't know your intentions. ;-)

Current git version: 47164bf954148

[2021-12-19 21:28] MatthiasWM commented on #351
Ouch. Will fix it ASAP.

[2021-12-19 21:28] bikepunkmaggie commented on #350
I was updating using git (just a git pull).  As for the name, I just used ABI as that was in the commit message.  I build fltk with Cmake with Ninja.  The demo worked, it was the first program I ran when I could not compile my code.

I did attempt to remove the fltk source dir I was using, did a new clone and build (latest  commit https://github.com/fltk/fltk/commit/47164bf9541486f3fd7b32c361f1784

[2021-12-19 21:33] #351 closed

[2021-12-19 21:36] erco77 commented on #332
Regarding the leak, I'd solved it was to move the delete[] outside of the `this==fl_menu_array_owner` test.

But if it causes trouble then I need to understand the mechanism, otherwise I can't properly fix this thing. My goal is to make my changes, and then exercise all possible mechanisms I can think of, and make sure nothing leaks or double delete/free's.

You say:

I need to understand where an

[2021-12-19 21:39] erco77 commented on #332
Yes, nothing commit worthy yet.. still too much debugging printfs and what not tracing stuff down.

[2021-12-19 22:00] Albrecht-S commented on #328
I checked the current fluid output as promised and removed some remaining `mac_shell_*` items from .fl files (commit e8961f10b87290). This is OK now. Almost.

The only remaining issue I found is a regression that one trailing semicolon is generated. Sorry, this is OT here but I didn't want to open yet another issue.
[code]
The obvious reproducer is to `write files` from `fluid Fl_File_Chooser.fl`,

[2021-12-19 22:04] erco77 commented on #332
Hmm, I cannot get the leak to go away with that.
I get the same `new[]` leak in array_insert() from valgrind that I get with or without the menu_end() change. To be clear, the line I'm changing in the test program:
[code]
This is using the current fltk-1.4.x freshly clone'd and built.

[2021-12-19 22:06] erco77 commented on #332
..and if I move the delete[] outside of the if() test the `new[]` leak goes away.
So while that change may cause an ownership issue, it seems at least solvable.

[2021-12-19 22:25] Albrecht-S commented on #350
Thanks for your feedback. (FYI: It's not a new ABI, it's just another filename.)

The statement `#include <cairo.h>` has been introduced in 2016 and never changed since. The [official Cairo FAQ](https://www.cairographics.org/FAQ/#minimal_C_program) also uses `#include <cairo.h>`.

Hmm, I don't know what happened. It looks like something in your build must have changed. Your CMake info posted above

[2021-12-19 22:36] Albrecht-S commented on #332
No, please don't do that.

OK, let's try. Would you like to chat? Please send me a mail if yes.

[2021-12-20 00:22] MatthiasWM commented on #328
Ok, I fixed the code generator (waiting for CI to finish before PR), but it must have been like this for quite a while, judging by past commits. I guess nobody ever bothered rebuilding the File Chooser.

[2021-12-20 00:36] Albrecht-S commented on #328
I did it routinely every now and then - but not since you started working on fluid these weeks (thank you!). I'm executing `fluid -u -c <file>` for all fluid files in the distro! However, if nothing changed there was no reason to check it in.

FTR: I found commit 6ac305a50804 where I removed trailing semicolons. I found them using `-Wextra-semi -Werror=extra-semi` because a user reported this.

[2021-12-20 00:39] Albrecht-S commented on #332
After a long video chat with Greg we came to the conclusion that we'll leave the code as is.

Documentation should be improved (if necessary, needs to be checked) to make clear what we recommend and what should be avoided.

[2021-12-20 00:41] MatthiasWM commented on #332
+1 👍 from me

[2021-12-20 16:00] bikepunkmaggie commented on #350
I spent a little more time on this--a big note is that I am not using any of the Cairo functions in my programs as of yet.  Perhaps why no issues came up before.  Sorry, should have started off with that tidbit.

Note that if I use fltk-config to build, all works fine on my program.

To fix (besides going back to a previous commit), I added the library in my CMake file:
`target_include_directories

[2021-12-20 18:38] Albrecht-S commented on #350
OK, thanks for the feedback, it's very much appreciated.

Our CMake support is not yet perfect (not even complete) and I'm trying to improve it continuously. I still don't know why you may have encountered the reported regression but I found out that our CMake build did not export the required include directories if FLTK was built with Cairo support.

I added this in commit b91db00d9. Can you plea

[2021-12-20 20:19] Albrecht-S commented on #97
Update: meanwhile we released 1.3.6, 1.3.7, and 1.3.8. All CMake changes that made it into these versions are fixed and further development will concentrate on 1.4 only. This means that changes resulting from this issue will only be in 1.4.

[2021-12-20 21:10] bikepunkmaggie commented on #350
Confirmed (once I remember` target_include_directories (foo PRIVATE ${FLTK_INCLUDE_DIRS})`).

Thanks!

[2021-12-21 00:07] Albrecht-S commented on #350
Thanks for confirmation. I'd like to get rid of this too, see #207.

[2021-12-21 00:07] #350 closed

[2021-12-21 08:17] CendioOssman commented on #325
I'm afraid we're a bit too swamped right now. But I figured it was still worthwhile to mention we had a suggestion for this in case some one else has time for testing. :)

[2021-12-21 13:18] #325 closed

[2021-12-22 07:41] ManoloFLTK commented on #349
+1 to separate the control of FLTK options from fluid.
This tool would control what the API calls  [Fl::Option](https://fltk.gitlab.io/fltk/classFl.html#a43e6e0bbbc03cad134d928d4edd48d1d). Its name should be based on "option",
possibly `floptions`.

[2021-12-22 13:09] CendioOssman commented on #295
Hmm... After thinking a bit more about it an application might be interested in those. But perhaps they should be exposed in a different way, and this also highlights a missing feature in FLTK.

Those events are sent to inform an application that someone else is stealing keyboard events. Most applications don't care, and hence they shouldn't be considered normal focus events. But some might, and t

[2021-12-22 15:24] Albrecht-S commented on #295
Thanks for that info, it's interesting.

@CendioOssman Two further questions:

1. in the second list, I assume that events 2. and 3. each mean two events sent by X11, and these two events appear in the order you put them in the list. Is this correct?
2. Since you are developing cross-platform, are there similar or equivalent events triggered on our other platforms (Windows + macOS)?

[2021-12-22 18:02] mdblack98 opened #354 "Windows Y location not updating"
Using github checkout as of 20211222
Windows 11 Y location when monitor is above the other does not record the correct Y location.
X location when monitors are side-by-side works...but not Y when in vertical orientation.  When in vertical (non-extended) neither X nor Y are updated.

[2021-12-22 22:01] Albrecht-S commented on #354
Thanks for the report.

You wrote "Windows 11". Can you compare thist with Windows 10, does it work with Windows 10 in this monitor configuration?

What do you mean with "vertical (non-extended)", and what means "neither X nor Y are updated"? Please explain what you are doing and what you see.

What does the demo program test/fullscreen show when you start it?

[2021-12-22 23:35] mdblack98 commented on #354
Can't compare with Windows 10 right now but was running the same monitor config then and I'm quite sure it did not have the problem.
It's an application called FlRig from herehttp://www.w1hkj.com/alpha/flrig/

It does, of course, save it's screen location on exiting the program.  When FLRig is on the other monitor the X/Y locations saved do not change.
I think the problem is due to the fact that I

[2021-12-22 23:39] mdblack98 commented on #354
I added a screenshot to the github issue.
Mike

    On Wednesday, December 22, 2021, 05:35:23 PM CST, Michael Black ***@***.***> wrote:

Can't compare with Windows 10 right now but was running the same monitor config then and I'm quite sure it did not have the problem.
It's an application called FlRig from herehttp://www.w1hkj.com/alpha/flrig/

It does, of course, save it's screen location on exit

[2021-12-23 01:59] Albrecht-S commented on #354
@mdblack98 Can you please compile and run the attached program [screen.cxx](https://github.com/fltk/fltk/files/7766152/screen.cxx.txt) and report what you see?

If you have problems compiling it under Win11 you can copy its content into one of the demo programs, e.g. `hello.cxx` and build the FLTK library or only that program.

- Please run the program, move it across your screens, and watch the d

[2021-12-23 04:19] mdblack98 commented on #354
So my monitors are like this:12And I have 2 as my main monitor
When the program is on monitor 1 it shows negative numbesr for the y axis.Same thing happens to the x axis when monitors are side-by-side1 2 -- and 2 is the main monitorOn monitor 1 we get negative x numbers

I assume negative coordinates are causing the problem.
Mike

    On Wednesday, December 22, 2021, 07:59:30 PM CST, Albrecht Schl

[2021-12-23 04:49] mdblack98 commented on #354
I found the problem in the FLRig code -- it was checking for X/Y to be > 0.
Thanks for the help.

[2021-12-23 04:49] #354 closed

[2021-12-23 04:53] ZJUGKC opened #355 "Fl_Text_Display proposal: set background colors for each line"
A proposal: add a function which can set background colors for each line and render them in Fl_Text_Display. So the effect of code difference like GITHUB commits can be implemented.

[2021-12-23 09:13] mlip-m opened #356 "SelectObject(gc, fid) failed when create Fl_GDI_Font_Descriptor, GetLastError return 87"
`Fl_GDI_Font_Descriptor::Fl_GDI_Font_Descriptor(const char* name, Fl_Fontsize fsize) : Fl_Font_Descriptor(name,fsize) {

  int weight = FW_NORMAL;

  int italic = 0;

  switch (*name++) {

  case 'I': italic = 1; break;

  case 'P': italic = 1;

  case 'B': weight = FW_BOLD; break;

  case ' ': break;

  default: name--;

  }

  fid = CreateFont(

    -fsize, // negative makes it use "char size"

[2021-12-23 10:58] MatthiasWM commented on #355
This should be possible. I have some spare time after the 28th and should be able to implement this, as I also have a use for this feature in Fluid. But of course, if anyone else feels like implementing this: please assign it to yourself ;-)

[2021-12-23 12:06] CendioOssman commented on #295
Unfortunately this is not clear from the documentation for focus events or grabs. I would not be sure that is guaranteed. :/

On that theme, this behaviour doesn't exist in older/other X servers. They don't send those `NotifyGrab`/`NotifyUngrab` events at all.

Keyboard grab doesn't exist outside X11, so no. You have to do various hacky things to get all keyboard events on Windows and macOS, and F

[2021-12-23 12:17] Albrecht-S commented on #355
Related STR's:
- [STR 2838](https://www.fltk.org/str.php?L2838): Add Colors to FL_Text_Display (+ underscore + strikethru)
- [STR 3453](https://www.fltk.org/str.php?L3453): Fl_Text_Display: Highlight current line (Patch)
- [STR 3277](https://www.fltk.org/str.php?L3277): Fl_Text_Display virtual method

Some of these STR's include patches but these are probably outdated.

[2021-12-23 12:21] Albrecht-S commented on #356
Which FLTK version (please exact Git or snapshot version)?
ISTR that such an issue has been fixed recently, could you please try the current Git version?

When does the error appear?

[2021-12-23 12:21] OPNA2608 opened #357 "Release 1.3.8 is missing a git tag"
FLTK 1.3.8 was released a month ago: https://www.fltk.org/articles.php?L1782

However, unlike with previous releases, no git tag was created for it.

![Bildschirmfoto von 2021-12-23 13-14-19](https://user-images.githubusercontent.com/23431373/147239224-a30a0cd1-595f-4cc0-93f7-67207ce1a1f2.png)

[2021-12-23 12:29] Albrecht-S commented on #357
Thanks, I created the tag but forgot to push it. Done now.

[2021-12-23 12:29] #357 closed

[2021-12-23 12:31] Albrecht-S commented on #295
Thanks.

[2021-12-25 09:08] ManoloFLTK commented on #325
The fix is now also committed to branch 1.3

[2021-12-26 23:34] OPNA2608 commented on #250
Sorry for the late feedback. Confirming that compilation with `DOPTION_CAIROEXT=ON` succeeds on the `issue-250_cairoext` branch. I ran some test binaries (including cairo_test) and everything seemed to work.

[2021-12-28 09:43] mlip-m commented on #356
version is 1.4.0

I use follow code to calculate string pixel length, Sometimes there are mistakes when font is bold

`string src = "BLOCK_ADDD";
if(bBold)
{
    fl_font(FL_HELVETICA_BOLD,13);​
}
else
{
    fl_font(FL_HELVETICA,13);​
}
int wi = 0,hi=0;
fl_measure(src .c_str(),wi,hi,false);`

[2021-12-28 11:54] Albrecht-S commented on #356
@mlip-m Thanks for the feedback and the code.

Sorry, this is not enough. Please specify either the full snapshot version or the Git version (aka SHA1, see `git log -1`.

Your given code looks fine. Are you using fl_set_font() in your program before you're measuring strings like above, or are you using other fonts than `FL_HELVETICA` and `FL_HELVETICA_BOLD` as given in your code fragment?

And one

[2021-12-29 13:12] mlip-m commented on #356
I just use "fl_font()" and "fl_measure()" two functions as shown above. No other functions are used.

[2021-12-29 16:33] Albrecht-S commented on #356
Can you please answer my (other) questions? Without enough information we can neither rule out a bug in your program nor find a bug in the FLTK library (which I consider to have a very low probability).

I still have no idea when the error you're observing happens. "Sometimes" doesn't mean anything to me. Except maybe that your program overwrites some data and then experiences this issue.

If you

[2021-12-31 19:14] erco77 opened #358 "Fl_Cairo_Window docs should describe the default coordinate system"
The Fl_Cairo_Window docs are rather thin. Currently one has to refer to the test programs to understand how to draw anything. (I'm trying to figure this out now)

I'd suggest:

- Docs describing the coordinate system of the window for cairo drawing, e.g. cairo_move_to(cr,x,y)
- Short code example showing e.g. "How to draw an X" to the four corners of the window

If I get my test program working, I

[2021-12-31 23:25] erco77 commented on #358
Got my example working so assigning myself.
Ill add some docs and other devs more familiar with cairo can check if its right.

Seems the default coordinate space for Fl_Cairo_Window is FLTK's, and one has to watch it with any cairo example code that assumes normalized space (0,0,1,1), which I guess is cairo's default.

And the coord space affects functions like line width, so using cairo examples

[2022-01-01 01:43] erco77 commented on #358
Attaching a [patch suggestion](https://github.com/fltk/fltk/files/7797276/cairo-draw-x-patch.txt) to add a new `examples/cairo-draw-x.cxx` file and Makefile mods. The patch adds new CAIRO variables to the `examples/Makefile.FLTK`, and uses them in the `examples/Makefile`.

Will follow up with a `CMakeLists.txt` patch once I get some time to test it.

[2022-01-01 10:14] erco77 opened #359 "RFE: access the MacOS windowid (or nswin windowNumber) for use by applescripts, screencapture"
On MacOS, the integer window id for a window is useful for tools like applescript, screencapture(1), etc.

Something along the lines of [this patch](https://github.com/fltk/fltk/files/7797552/get_win_id-patch.txt) to allow an FLTK application to easily access this MacOS-specific integer value.

I hacked that patch together just to get something working for my needs, but I imagine it would be bette

[2022-01-01 17:21] erco77 commented on #359
I suppose for X windows, get_win_id() [or whatever we end up calling it] could return the X windows equivalent integer that programs like `xwd(1)` use (In the case of `xwd`, for its `-id` option)

[2022-01-01 19:31] MoAlyousef commented on #359
I also think exposing a method to get the contentView on MacOS would be useful, libs like libvlc expect a contentView to do any drawing.. Currently one would have to go thru objective-c:
[code]

[2022-01-02 06:01] wcout commented on #359
Not really sure what you are needing, but at least for X11 there is `fl_xid(const Fl_Window *)` to get that window handle, and IMHO fl_xid() is already cross platform.

[2022-01-02 06:39] erco77 commented on #359
@wcout true, on X windows `fl_xid(win)` does return the X window id (useful for `xwd(1)`), but on MacOS fl_xid() does _not_ return the equivalent "window id" that e.g. 'screencapture -l' can make use of (for screenshots of a particular window)

So for access to the MacOS "windowid" (as screencapture(1) calls it) aka. the windowNumber (as it's referred to in the Objective C API), a separate accesso

[2022-01-07 17:35] erco77 opened #361 "RFE for Fl_Input_Choice: ability to customize Fl_Input vs. Fl_Menu_Button positions and sizes via subclassing"
Currently `Fl_Input_Choice` doesn't support swapping the input and menubutton's positions, and doesn't make it easy to even derive a subclass because the methods used for resizing (`inp_{xywh}()` and `menu_{xywh}()`) are private and non-virtual.

Suggest making these methods virtual so they can be overridden by a subclass to redefine positioning behavior.

And also, a new convenience method to swa

[2022-01-07 17:48] erco77 commented on #361
Attaching [issue_361_v1.patch.txt](https://github.com/fltk/fltk/files/7830396/issue_361_v1.patch.txt) which does what's suggested above.

Here's a [newchoice.cxx.txt](https://github.com/fltk/fltk/files/7830420/newchoice.cxx.txt)  that creates two instances of `Fl_Input_Choice`; one with the input field left aligned (default), one right aligned. That can be dropped into the `./examples `directory a

[2022-01-07 17:54] Albrecht-S commented on #361
Hmm, I think the original question in [fltk.general](https://groups.google.com/g/fltkgeneral/c/itgqHHUuCZI/m/KW3gcLkuBAAJ) (thread "Fl_Input_Choice dropdown bellow text") was about changing the location where the dropdown appears rather than swapping the input field and dropdown button positions.

The OP asked: _"The Fl_Input_Choice shows the dropdown on the right, is it possible to show it at the

[2022-01-07 17:54] Albrecht-S commented on #361
Your patch and screenshot above appeared while I was writing the comment above. This could certainly be another useful option - although I would think the dropdown button should always be on the rigt side of the input widget.

[2022-01-07 18:02] MatthiasWM commented on #361
Yes, that's ho I understood it too.

I would like to suggest this, no need to move the arrow-down button to the left as described here:
https://github.com/fltk/fltk/issues/361#issuecomment-1007605539

[2022-01-07 18:07] erco77 commented on #361
Ah, OK, guess I misread the OP's intention. We can forget my patch then, as I'm not sure I could see why anyone would actually want that, looking at the results.

Perhaps tho, at least making the internal `inp_xywh()` and `menu_xywh()` methods virtual and protected might be a good idea just to allow control over those from a subclass.

[2022-01-07 18:09] MatthiasWM commented on #361
I see no harm in that. ABI is changing though.

 - Matthias

[2022-01-07 18:09] erco77 commented on #361
What the OP is requesting, then, I think would be a modification to Fl_Menu_Button.

I seem to recall when I implemented Fl_Input_Choice all those years ago, before I was an FLTK dev, that the OP's described behavior would have been what I wanted, but the Fl_Menu_Button didn't work that way, and not being a dev, I had no control over that.

Not sure if I'm the right person to make such changes to

[2022-01-07 18:13] erco77 commented on #361
@MatthiasWM regarding ABI changes, right, though we're in a good position to break ABI with 1.4.

Of course we also have a way to make ABI breaking mods in maintenance releases using the FL_ABI_VERSION stuff, which we don't need for 1.4.0, but worked well in the 1.3.x maintenance series, where the user could optionally enable ABI breaking features.

[2022-01-07 18:15] Albrecht-S commented on #361
While I'm looking at the old and new behavior described by me above I wonder whether the suggested part in "Requested behavior" should not be the default behavior anyway. I looks more like the "natural" appearance one would expect and I believe we could change this as a "bug fix" (maybe nobody except the OP would notice the change).

:+1: on this enhancement.

@MatthiasWM : ABI changes are OK righ

[2022-01-07 18:19] Albrecht-S commented on #361
Correct, but this will be kept in place so we can make ABI breaking changes in 1.4.1 and later. ;-)

[2022-01-07 18:24] Albrecht-S commented on #361
OK, summing the discussions up, I believe we could:

- change the title of this issue to "RFE for Fl_Input_Choice: ability to **~swap+~** customize Fl_Input vs. Fl_Menu_Button positions **and sizes**
- open a new issue regarding the request in fltk.general
- commit Greg's patch, modified w/o the alignment stuff
- close this issue when done

[2022-01-07 18:25] erco77 commented on #361
I just looked at Fl_Menu_Button's code -- it's pretty simple, so I'll at least take a shot at it I guess.. all were talking about I think is just changing the x,y position for the appearance of the menu, and to right align it would mean determining the menu's width, which if that's not too hard, might be easy.
Where it could get complicated as you say, if the menu has to move due to proximity to t

[2022-01-07 18:26] erco77 commented on #361
@Albrecht-S OK, just seeing your comment.
Sure, I can change the title and just apply my revised patch, and we can make the menubutton change a separate issue.

[2022-01-07 18:29] erco77 commented on #361
First I want to make sure I can create a subclass in user code and see if I can redefine the positioning, to make sure this works as expected.

[2022-01-07 18:30] MatthiasWM commented on #361
Should be easy. Fl_Choice does it already. But I'll be happy to look at a Pullrequest or patch ;-)

[2022-01-07 19:04] erco77 commented on #361
Hmm, in testing the virtual methods, I ran into the apparently [well known problem of calling virtuals in a constructor](https://stackoverflow.com/questions/962132/calling-virtual-functions-inside-constructors), where in C++ apparently the subclass's methods can NOT called from the base class's ctor. Something about the vtable not being initialized yet or some such.

And in the case of Fl_Input_Ch

[2022-01-07 19:06] erco77 commented on #361
I'll create the separate issue, assign to myself, and see if I can figure it out.
If not, I'll unassign it and leave it open.

[2022-01-07 19:12] erco77 opened #362 "RFE for Fl_Menu_Button to allow dropdown to appear left OR right aligned"
This would be relevant to improving the look of the Fl_Input_Choice widget, which uses Fl_Menu_Button as a simple arrow-down box.

As Albrecht wrote in a previous issue, what's being requested (in ascii art):
Current behavior:

[code]

Requested behavior:

[code]
..where `| v |` is the Fl_Menu_Button, and `| one    |` is a separate Fl_Input widget.

So, regardless of the actual width of the Fl_Men

[2022-01-07 19:53] MatthiasWM commented on #361
Well, you can't call a virtual function of a derived class from within the constructor of the base class because the constructor of the derived class has not yet been called.

But you can call the function either from the constructor of the derived class, or you can explicitly call a virtual function of the same or a super class.

You can PM me the code if you like.

 - Matthias

[2022-01-07 22:44] spitzak commented on #362
The menu is supposed to go from the left edge of the text field to the right edge of the downarrow button, not sure when this got changed.

[2022-01-07 23:48] erco77 commented on #362
The Fl_Menu_Button widget is fine with respect to itself (the behavior is as you describe it).

But in the context of Fl_Input_Choice, it's an Fl_Group with an Fl_Input and small Fl_Menu_Button next to it (w/h=20x20).

So the idea is to be able to get the Fl_Menu_Button pulldown menu's position to be sized to appear under the entire Fl_Input_Choice::Fl_Group,. Perhaps there can be a way to set the

[2022-01-08 01:14] erco77 commented on #361
@MatthiasWM right, hence the call to resize() in the subclass ctor which triggers the new methods.

So here's the new patch proposal,
[issue_361_v2.patch.txt](https://github.com/fltk/fltk/files/7832106/issue_361_v2.patch.txt)
, to address changing the inp_xywh / menu_xywh methods from `private/inline` to `protected/virtual`. The patch includes doxygen docs for the methods, as well as a subclassing

[2022-01-08 08:22] ManoloFLTK commented on #359
Function fl_xid() returns on all platforms a Window quantity which is what the OS uses to identify
a window. macOS is somewhat special in using another quantity for some operations such as
the screencapture command. So I'm not sure a new cross-platform function is necessary; access
to the macOS windowId may be enough ?

I'd like to mention the cross-platform API (new in 1.4) :
  [Fl_RGB_Image *fl_

[2022-01-08 14:48] Albrecht-S commented on #361
:+1: +1 Patch looks good and works well (tested under Linux, including example code).

`<nitpicking>` Copyright year (2022) should be adjusted in both files. `</nitpicking>`

[2022-01-08 15:09] Albrecht-S commented on #359
@ManoloFLTK Yes and no: IMHO we should not force the user to use platform macros (`__APPLE__`) to encapsulate function calls, hence the function should be available on all platforms but return 0 on "other" platforms [1]. It should be documented precisely so users can get the macOS WindowID if they need it for some reason (including commandline usage, for instance in a pipe).

I wouldn't mind if Un

[2022-01-08 20:50] MatthiasWM commented on #328
Implementation hints:
* shell commands must **never** be written into a .fl design file! The shell commands would get distributed to end users, and I really don't want to be responsible for `rm -r *` or similar stupid commands.
* shell commands are different for every user, and possibly for some design files.
** implement default shell commands on App level
** implement the ability to change them

[2022-01-08 20:59] MatthiasWM commented on #317
I solved this differently: projects now have the option "avoid early include of FL.H". This will simply not emit the "#include <FL/Fl.H>" at the beginning of the header, so that other declarations can be write first. However, if the first FLTK widget is written, "#include <FL/Fl.H>" is emitted right before the include statement for that particular widget.

See #363.

[2022-01-08 21:16] #317 closed

[2022-01-08 21:22] Albrecht-S commented on #317
My test case above does not include `<FL/Fl.H>` (if I activate the new option) although it includes `<FL/Fl_Box.H>` which seems to be a border case because it's included implicitly and not by a widget declaration.

How should this be handled?

[2022-01-08 22:15] MatthiasWM commented on #317
If you include something explicitly, you need to also include explicitly all its dependencies. However, if you include an Fl_Box widget in your design, Fluid will include both Fl.H and Fl_Box.H in the correct order. See fluid/about_panel.fl

[2022-01-08 23:05] Albrecht-S commented on #317
OK, that's plausible.

[2022-01-08 23:26] MatthiasWM opened #364 "Fl_Table constructor does not end with `Fl_Group::end();`"
```Fl_Table.cxx:191:  table->begin();               // leave with fltk children getting added to the scroll```

The Fl_Table constructor ends in auto-adding further widgets as children. This is formally correct because Fl_Table is derived from Fl_Group, but IMHO it is unexpected behaviour. By default, Fl_Table is not used as a Group, but by adding Text Strings.

I would expect that further widgets

[2022-01-09 01:08] MatthiasWM commented on #317
Thanks. The default setting remains as it was anyway. I don't want to disturb existing projects. I am trying to implement CI/CD for Einstein and I can see how tiny changes break everything.

[2022-01-09 01:36] erco77 commented on #364
This is by design; Fl_Table can be used as a container; see test/table-as-container

[2022-01-09 02:05] Albrecht-S commented on #364
Since Fl_Table is an Fl_Group it should behave like Fl_Group. You can always call `table->end()` if you want to change it in a user program. Changing this behavior would have potential to break user programs.

I vote for option 3 unless there are really, really compelling reasons to change this.

[2022-01-09 02:06] erco77 commented on #364
I should add, one doesn't really use Fl_Table by "adding text strings" either.

When Fl_Table isn't being used as a widget container, it's the "view" and "controller" part of a [Model/View/Controller](https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller) design. The user handles the "model", e.g. strings or images, or whatever data is supposed to be displayed in the table. This allo

[2022-01-10 00:23] MatthiasWM commented on #364
Hi Erco, didn't mean to oversimplify the widget. I know that you put a lot of work in to make the table be able to handle huge data sets ;-) . We'll leave it as it is. I'll check if Fluid behaves well, because it's not under Group widgets... .

[2022-01-10 00:23] #364 closed

[2022-01-11 07:05] ManoloFLTK opened #365 "Make class Fl_Simple_Terminal refuse the focus"
I believe class Fl_Simple_Terminal should implement the handle(int) virtual function
to refuse the focus when it receives the FL_FOCUS event :
[code]
The problem is visible for example with test/input. Add :
`printf("Fl::focus()=%p Fl_Simple_Terminal=%p\n", Fl::focus(), G_tty);`
after the `window->show(argc,argv); `statement at the end
shows that the focus is at the terminal when input is launched

[2022-01-11 12:03] Albrecht-S opened #366 "Fl::focus(Fl_Widget*) should be independent of Fl_Widget::visible_focus()"
Setting the focus to a widget that has disabled keyboard navigation by calling `Fl_Widget::clear_visible_focus()` or `Fl_Widget::visible_focus(0)` fails because `Fl::focus(Fl_Widget*)` tests the `Fl_Widget::visible_focus()` attribute. This should not be done since `Fl::focus(Fl_Widget*)` should set the focus to the widget unconditionally.

[Documentation of `Fl::focus(Fl_Widget*)`](https://fltk.gi

[2022-01-11 12:15] Albrecht-S commented on #366
I'm still investigating, but it seems that the offending statement has been introduced when `Fl_Widget::visible_focus()` had been added in FLTK 1.1 (commit 57cef6a4bde017e205e54271e769de0db596d893) but this was IMHO a bug right from the beginning. Maybe this was done because it appeared as a simple solution but it prevents setting the focus to a widget when only "keyboard navigation" should be dis

[2022-01-11 12:17] Albrecht-S commented on #365
I believe a better solution would be to use `clear_visible_focus()` in the constructor of `Fl_Simple_Terminal` which is documented to exclude the widget from keyboard navigation and achieves the same effect WRT setting the initial focus.

Unfortunately this (or `G_tty->visible_focus(0);` in `test/input.cxx`) does not work because this disables setting the focus to the `Fl_Simple_Terminal` widget c

[2022-01-11 12:21] Albrecht-S commented on #365
@ManoloFLTK The effect of setting the wrong initial focus in this particular test program (`test/input.cxx`) is caused by adding the `Fl_Simple_Terminal` widget as the first widget in the group (window) which is weird by itself. This should be fixed anyway by moving the terminal widget to the end.

Was this demo program the (only) reason why you filed this issue or did you see similar effects in o

[2022-01-11 12:36] Albrecht-S commented on #366
@michaelrsweet Mike, can you as the author of commit 57cef6a4bde017e205e54271e769de0db596d893 maybe shed some light on this issue? I know it's almost 20 years ago, but anyway. Maybe it was just "one check too much"?

[2022-01-11 15:40] michaelrsweet commented on #366
@Albrecht-S I think the issue was preventing a non-focusable widget getting first focus in a window, but I'm not 100% sure on that. I'm guessing we discussed this on the old mailing list, but those archives are long gone... :/

[2022-01-11 15:44] ManoloFLTK commented on #365
So, there's another aspect to the problem: without focus, selection and copy of text may become impossible.
I'll look into that and into issue #366.

@Albrecht-S I've been using test/input (and test/editor) to develop support for text input methods under Wayland, and was annoyed the focus was not straight in one of the text fields of that program.

[2022-01-11 15:54] erco77 commented on #365
Yes, the only thing I can think of why it would need it is for keyboard navigation of text selection, but that's turned off -- I think its presence was unexpected + distracting in a terminal context.

I did a quick test with the handle() override, and it doesn't seem to affect navigation of the scrollbars with PgUp/Dn and Up/Down arrows (which are I think handled by non-focus oriented FL_SHORTCUT

[2022-01-11 16:07] erco77 commented on #365
Hmm, in my test with the overridden handle() and the test/input demo, after using the 'print_changed()' button to cause text in the simple terminal, I can highlight text, hit ^C, and then use right-click Paste into a terminal. At least on linux.

But I'm not sure by what means that is working though.. perhaps when you make a text selection, it becomes the focus widget anyway, even though it reject

[2022-01-11 16:25] ManoloFLTK commented on #365
That's also what I see now with macOS.
So, focus and text selection seem decoupled, which is perfect for the simple terminal wdget.

[2022-01-11 17:48] Albrecht-S commented on #366
@michaelrsweet Thanks for your quick reply. My take on this issue is that calling `Fl_Widget::clear_visible_focus()` disables giving this widget the focus entirely which was probably not intended. It should only disable taking the focus by using **keyboard navigation** with `TAB` (as documented) but explicitly giving the focus to a widget by calling `Fl::focus(Fl_Widget*)` should still work. `Fl_T

[2022-01-11 18:01] Albrecht-S commented on #365
@ManoloFLTK @erco77 Yes, I think that "focus and text selection seem decoupled" is correct and on Linux text selection alone copies the text to the selection clipboard and can be used to paste it -- in my setup by clicking the middle mouse button.

But that's unique to Unix / X11. On other platforms you need to type `^C` as Greg described and this needs the focus to deliver the keypress to the wid

[2022-01-11 19:09] erco77 commented on #365
Just to clarify, I was wondering aloud if ^C worked _perhaps_ because during its handling of the highlighting process, if it were to set itself to be the focus widget with Fl::focus(), despite ignoring FL_FOCUS events, becomes the focus widget anyway, and thus the ^C event is thrown to the Fl_Text_Xxx handler as a regular FL_KEYBOARD event by the fact it is still the Fl::focus() widget. Just a gue

[2022-01-11 19:33] Albrecht-S commented on #365
OK, to clarify, we have two possible situations after one of the two suggested patches:

1. Manolo's patch rejects the `FL_FOCUS` event and disables setting the focus to the widget by `TAB` navigation and by the initial focus widget selection. If you click into the terminal widget `Fl_Text_Display` handles the **`FL_PUSH`** event and calls `Fl::focus(this)` which sets the focus despite the fact th

[2022-01-11 20:33] Albrecht-S opened #367 "Fluid sometimes doesn't remove widgets in groups from display"
While playing with fluid I noticed that fluid didn't remove a button from the display when I deleted the button. This small .fl file can be used as a reproducer:
[code]

1. Select "button in window", delete it, and it is immediately removed from the display.
2. Select "button in group", delete it, and it stays on the display.

The obvious difference is that the group has a "frame" border type (`TH

[2022-01-11 20:43] MatthiasWM commented on #367
I changed widget deletion to use Fl::delete_widget() and added a redraw for the enclosing window. Unless no background at all is set anywhere, this should work.

[2022-01-11 20:44] Albrecht-S commented on #366
This issue should be fixed or (if not possible) documented appropriately before we release FLTK 1.4.0.

[2022-01-11 20:52] Albrecht-S commented on #367
I suggest not to use `Fl::delete_widget()`. This has been introduced to work around some bugs in FLTK (I know that you know which ones) and I consider `Fl::delete_widget()` obsolete - we should IMHO deprecate it in FLTK 1.4. Therefore we should not use it in FLTK code anymore.

[2022-01-11 20:53] Albrecht-S commented on #367
Did you commit and push already? I don't see a commit yet.

[2022-01-11 22:06] MatthiasWM commented on #367
Sorry, yes, that was on my fork. I just pushed the changes upstream.

[2022-01-11 23:25] Albrecht-S commented on #367
Pulled, tested, works. Thanks.

[2022-01-11 23:25] #367 closed

[2022-01-12 12:03] Raj2032 opened #368 "Questions regarding this project"
Hi I have some questions regarding this project.

1. Is it retained or immediate or a combination of both?
2. Does it support Android?
3. Does it support either html/css and/or web applications?

[2022-01-12 12:38] MatthiasWM commented on #368
1. It's a combination. Users draw graphics in immediate mode by overriding the draw() functions in widgets. However the widgets themselves know how to draw themselves, and since the user would build a hierarchy of widgets, that part of the library draws in a retained mode.
 2. Yes and no. I have a working version of an Android port that has been stuck in Alpha for quite a while.
 3. We support a s

[2022-01-12 14:42] ManoloFLTK commented on #366
I confess I'm lost about what's the purpose of Fl_Widget::visible_focus(int) .

1) Its name suggests it's related to the widget being drawn with a dotted line when it's focused.
That's indeed the case if you apply ->visible_focus(0) to a Fl_Toggle_Button widget for example :
with this, the dotted line disappears when the button gets redrawn atfer having been pressed.

2) Its documentation mentions

[2022-01-12 18:16] Albrecht-S commented on #366
1. The tooltip of the global options in fluid describes the purpose of `OPTION_VISIBLE_FOCUS` better than the actual docs:
[code]

Note the last part _"... **and** keyboard navigation is disabled"_.

The docs should make this clear and I'll try to do this (that's why I added the label "documentation").

2. See 1.

3. The effect is correct as far as it does visually indicate the focus (when the wid

[2022-01-12 21:32] erco77 commented on #366
On 1/12/22 6:42 AM, ManoloFLTK wrote:

     As I recall, with respect to button widgets, it was the way to disable the focus box
     from being drawn on e.g. button like widgets where the focus box is inappropriate
     to see due to the needs of the application, such as buttons that are flat or invisible,
     and not intended to be seen as a button (e.g. invisible buttons positioned over images

[2022-01-12 23:33] Raj2032 commented on #368
Hey mate, thanks for your response :)

Hopefully the android version can come out sometime :)

One other question, do you use openGL or something else?

[2022-01-12 23:35] MatthiasWM commented on #368
I use OpenGL, yes. Or do you mean for Android? The current implementation does not use OpenGL but render pixel by pixel as a proof of concept.

[2022-01-12 23:40] Raj2032 commented on #368
Ah right thanks mate :)

[2022-01-13 15:30] erco77 commented on #361
I didn't apply the copyright fix because aren't copyright tweaks done as one big commit before a release?

[2022-01-13 15:33] #361 closed

[2022-01-13 16:59] Albrecht-S commented on #361
IIRC there was never a rule to do this and in the recent past we changed the copyright with each file update. Doing so would always reflect the last year of a change.

Since Git tracks all changes doing bulk copyright updates for /all/ files would unnecessarily show a change without any functional changes which I personally would like to avoid, hence the copyright (year) change with every change.

[2022-01-13 19:23] erco77 commented on #362
Attaching a suggested patch [input_choice-v1.patch.txt](https://github.com/fltk/fltk/files/7865364/input_choice-v1.patch.txt) that causes the pulldown menu to appear below the entire width of the Fl_Input_Choice widget as shown in the screenshot below. If the menu has contents wider than the widget, it extends off to the right.

![screenshot-patch-v1](https://user-images.githubusercontent.com/6484

[2022-01-13 19:28] spitzak commented on #362
I believe this behavior is always wanted.

[2022-01-13 19:44] erco77 commented on #362
A +1 from me as well.. it's what I would have done way back when I implemented it (before I became a dev), and had I known how to do it. Awaiting Albrecht's input.

[2022-01-13 20:43] MatthiasWM commented on #362
+1. Love it!

[2022-01-13 20:47] Albrecht-S commented on #362
:+1: +1 from me as well as **the** new behavior and no option to change it. I consider this a bug fix. We might want to document it but I wouldn't even do this, just change it.

The only thing we need to make sure is that it works well if the menu appears near the screen border (current behavior is to adjust the menu that it fits in the screen). I tested it and it looks good. I also noticed the co

[2022-01-13 23:26] #362 closed

[2022-01-14 00:06] erco77 opened #369 "Linux: Focus box drawing incorrectly"
While looking closely at the Fl_Input_Choice widget, I noticed the lower right and bottom part of the focus box wasn't being drawn, e.g. with test/input_choice:
![input_choice_focusbox_bug](https://user-images.githubusercontent.com/6484779/149427739-6c0bbfcf-d588-49e3-97e5-e04a13484f7f.jpg)

This wasn't introduced by my recent changes to Fl_Input_Choice; the older code did this too; I just tested

[2022-01-14 01:01] erco77 commented on #369
Might be specific to this widget.

Apparently even though the custom menu button widget's ctor sets the box() type to FL_UP_BOX, it's set back to FL_FLAT_BOX by the time draw() is called, causing draw_focus() to draw a focus box appropriate for an FL_FLAT_BOX, and not an FL_UP_BOX. Hence the issue.

Still investigating.. but seems to be related to that.

[2022-01-14 01:19] erco77 commented on #369
Seems to be a problem introduced by user-submitted patch in STR#2750 by user "dfatfl", accepted in a1d555bd, when Fl_Input_Choice was separated from a single .H file into separate .H + .cxx files, back in 2017.

Seems the FL_FLAT_BOX is coming from this line added in the ctor by that patch:
`
  menu_->box(FL_FLAT_BOX);                              // cosmetic
`
Going to back that out, but we shoul

[2022-01-14 02:06] #369 closed

[2022-01-14 04:46] erco77 commented on #368
OK, closing this.

All devs: Do try to remind users that ask general use questions in github issues to, in the future, ask such questions on fltk.general instead, so all can benefit from the question/answer conversation. We are just using issues for bug reports.

I guess it's OK to go ahead and answer the question here anyway, we just don't want it to keep happening.

I believe Albrecht is working

[2022-01-14 04:46] #368 closed

[2022-01-14 04:51] erco77 commented on #364
@MatthiasWM No problem -- I know Fl_Table is kinda confusing at first to everyone.
Model/View is a powerful optimizing technique, but is often not what people expect.

[2022-01-14 07:59] ManoloFLTK commented on #365
I close this issue because it's superseded by #366 .

[2022-01-14 07:59] #365 closed

[2022-01-14 17:08] CendioOssman opened #370 "Not enough contrast on automatic colors"
There is a problem that some colors used by FLTK are automatically generated. That in itself isn't a problem, but it unfortunately often generates colors with insufficient contrast. And applications have no decent way of overriding this.

The core of this is that `fl_contrast()` is used to generate some colors. And it doesn't have a good algorithm for determining contrast (which is very hard).

Fi

[2022-01-14 17:08] CendioOssman commented on #370
For a test I tried implementing WCAG 2, but it also calculates the incorrect thing here.

[2022-01-14 17:35] CendioOssman commented on #370
Actually APCA doesn't look to be that complicated. See the JavaScript implementation here:

https://github.com/Myndex/apca-w3/blob/master/src/apca-w3.js

[2022-01-14 18:35] CendioOssman opened #371 "Not possible to raise font size"
Modern standard font size is around 11pt/13px, which is noticably larger than what FLTK is designed for. This makes FLTK applications look out of place, and is also causing problems with usability as modern text rendering is also designed with larger text in mind.

You can easily increase the font sizes in FLTK, and the sizes of widgets is under application control. Unfortunately there are a bunch

[2022-01-14 18:43] Albrecht-S commented on #371
Please be more specific. "One example" is not suitable to investigate and base work on.

What we'd need is
- which constants should be adjusted or varied by font or widget size
- what do you expect
- any more information we can use to change things

[2022-01-14 18:48] erco77 commented on #371
It would probably be good if we could get rid of _all_ hard coded numbers in FLTK, providing an API to change them, with the current values as defaults. Identifying them all is a chore, but perhaps just start with checkbox and go from there.

OP: in case you're working with a deadline for release on VNC, when I've run into the check mark issue, or issues like those with limitations of labels, I us

[2022-01-14 18:48] Albrecht-S commented on #371
What exactly does this mean, what is "modern text rendering", what are the issues?

Is it maybe because TigerVNC has problems to render text and widgets from remote systems?

[2022-01-14 18:54] Albrecht-S commented on #371
@CendioOssman Another question: you wrote

According to the code base FLTK's standard text (font) size is 14 (px), so what does the above statement mean? I don't understand, please enlighten me.

[2022-01-14 18:57] erco77 commented on #371
@Albrecht-S I'm guessing OP is making an RFE, asking for general margin control for widget labels (I think?), and perhaps in a more general way, having as many hardcoded values in widgets as possible be adjustable via an API, esp. with respect to changing font sizes. I ran into all this early on too.

I realized looking at fltk's innards that the base widgets were not designed to include the gener

[2022-01-14 19:30] MatthiasWM commented on #371
I know that there are a few hardcoded values that could be changed or be a function of a related font height. We have already a way to set the width of scroll bars on a [per-application](https://www.fltk.org/doc-1.4/classFl.html#aa6d2b6e0d640b81c6ec44d0164ec0f91) base, as well [as per-widget](https://www.fltk.org/doc-1.4/classFl__Scroll.html#a40c34a9fd755968a283e247fed068dd4). You can set the line

[2022-01-14 19:48] Albrecht-S commented on #371
AFAICT from the previous attempts (FLTK 2 and 3) styles are (were) only a shortcut for setting some of the existing widget attributes in another way. This wouldn't help with the problem at hand.

But I agree that we have too many hard coded values in all widgets. Besides sizes this concerns also colors (e.g. FL_BACKGROUND2_COLOR etc.).

This could be attacked in FLTK 1.5 (my guess) because FLTK 1.

[2022-01-14 19:54] Albrecht-S commented on #371
@erco77 "I'm guessing OP is making an RFE, asking for general margin control for widget labels".

My point is that he said "Modern standard font size is around **11pt/13px**, which is noticably larger than what FLTK is designed for" but FLTK's standard font size is **14 px** which is larger than what he wrote. This is the opposite of what he said, hence I asked him to elaborate. If FLTK's standard

[2022-01-14 20:02] MatthiasWM commented on #371
I agree that styles are an FLTK 1.5 issue.

It's much more though. It avoids repeating the same attributes over and over and makes FLTK's footprint much smaller.

Think of how styles are used in text editors like MSWord: if you want a headline, you just set the style to _headline_. You wouldn't want to set _size 21, Helvetica bold, align left_ over and over again for every headline that you write.

[2022-01-14 20:15] MatthiasWM commented on #371
Well yes and no. When FLTK was written, screens were cathode ray tubes and screen resolution was 1024x800. Today's resolutions are huge in comparison, and UI's are generally mach more 'lofty'. Some issues (checkbox right on the text) can be healed by adding spaces, some can't. It also depends very much on screen dpi, which is why our scaling feature is pretty awesome.

[2022-01-14 20:51] Albrecht-S commented on #371
Well, the OP isn't comparing 1998 with today, he was talking explicitly about font sizes. But such a discussion is moot. Let's wait for what he can tell us about his intentions.

[2022-01-15 00:36] erco77 commented on #371
I feel like I should catch up with this styles enhancement -- @MatthiasWM / @Albrecht-S is there a document describing the API? Perhaps it's a WIP, but would be fun to see the base design. I take it this would help not only apps, but perhaps people doing 'skins', kinda like our schemes?

[2022-01-15 01:18] MatthiasWM commented on #371
It's documented for [fltk2](https://www.fltk.org/doc-2.0/html/index.html) but need a review before considering it. Much has changed over the years. But before anything, lets get 1.4 out of the door first.

[2022-01-15 01:53] MatthiasWM commented on #371
px, em, and pt are defined at 96ppi. My screen for example hat 254ppi, so with pixel doubling, a 14 pixel font has a size of 11px on my screen. A 14 pixel font on a monitor back then was much larger than it is now.

The checkbox is squeezed directly to the label text. On old screen, this saved space. In modern typesetting, you would simply not do that anymore. The OP suggests that the box and the

[2022-01-15 02:14] Raj2032 opened #372 "Are there any plans to support vulkan?"
Hi I wanted to know if there are any plans to support vulkan as well, as it has better performance?

[2022-01-15 08:18] Raj2032 commented on #368
@erco77 Sorry I missed this question, thanks

[2022-01-15 08:18] Raj2032 commented on #372
Closing this issue as I should not have asked it over here!

[2022-01-15 08:18] #372 closed

[2022-01-15 08:23] Raj2032 commented on #368
@erco77 we could try adding the "Discussions" as well on this repo (others have done this).

[2022-01-15 14:24] Albrecht-S commented on #368
@Raj2032 Thanks for the heads-up. We're considering to add and use GitHub Discussions but when I last looked at it it was still experimental or "beta" state. Since we have a working discussions group and don't want to split discussions we will likely switch only if we are sure that we can close our discussions group / forum [fltk.general](https://groups.google.com/g/fltkgeneral) and move entirely

[2022-01-15 14:42] Raj2032 commented on #368
@Albrecht-S No worries and I understand mate =D

[2022-01-16 20:38] Albrecht-S commented on #358
@erco77 I took a stab at this (because it's CMake related) and it works well both with and without Cairo enabled. Here's my patch:
[issue-358_cmake.diff.txt](https://github.com/fltk/fltk/files/7877874/issue-358_cmake.diff.txt)

I tried your patch (`cd examples; make`) and noticed that it works with a Cairo-enabled lib but fails if FLTK is not built with Cairo. AFAICT the issue is in `fltk-config -

[2022-01-16 20:48] Albrecht-S commented on #356
My questions have not been answered for more than two weeks and according to the FLTK CMP I'm closing this issue now. If you have a concrete example that fails or if you can provide the requested information, please ask further questions in fltk.general.

That said (standard reply):

This is the wrong place to ask questions about building or running programs with FLTK (user support). FLTK "issues"

[2022-01-16 20:48] #356 closed

[2022-01-16 21:17] erco77 commented on #358
I suppose if you're going to be removing the cairo lib, then perhaps it'll be a non-issue, as the link would then succeed because the code checks for FLTK_HAVE_CAIRO and shows a dialog.

To fix `fltk-config` we could probably replace the existing bad lib check with something like `grep '^#define FLTK_HAVE_CAIRO 1'  FL/fl_config.h`. Or worst case, do a similar check in the Makefile. I'll try follow

[2022-01-16 21:33] Albrecht-S commented on #358
Regarding `libfltk_cairo`: yes. But you'd still need to link to `libcairo` or not, depending on ... ?

I **think** the relevant information should be in `makeinclude`. This defines `LINKFLTKCAIRO` (w/o embedded underscore) whereas your `Makefile` defines `LINKFLTK_CAIRO` (with underscore). Something similar is available for the `Cairo` compiler flags.

The `CMake` patch I wrote checks whether `FLT

[2022-01-16 21:39] Albrecht-S commented on #358
This could probably be done better by `configure` and `CMake` setting appropriate variables in the `fltk-config` script which is generated from `fltk-config.in` by `configure` and `CMake`. We could likely add ready-to-use variables rather than guessing.

But I need to look deeper into it (probably tomorrow). This is something I need to do anyway for better CMake integration (some parts that are su

[2022-01-16 21:57] erco77 commented on #358
Attaching a v1 patch [fltk-config-v1.patch.txt](https://github.com/fltk/fltk/files/7878016/fltk-config-v1.patch.txt) which seems to solve the issue with `fltk-config` cleanly. The fact this checks `fl_config.h` is IMHO pretty solid, as that is what the source code looks to as well.

But there's more than one way to cook an egg, so it can be changed later when you have some time.

[2022-01-16 22:04] erco77 commented on #358
Ah, just seeing your msg about using configure/cmake to build fltk-config more appropriately. Sounds fine, I'll leave that to you then.

Mind if I apply my mods along with the above `fltk-config` patch just to close this issue, and you can revert/modify later with your intended changes to configure/cmake? I'd rather not touch configure myself, I still don't understand it at all -- never did.

[2022-01-16 22:08] Albrecht-S commented on #358
The only problem I see is if `egrep` is not available. I'm always wondering what systems we support with `fltk-config`. IIRC we need a POSIX shell, but what exactly does this mean WRT `egrep`?

If you think `egrep` is OK, go ahead. I'd also like to close the issue.

[2022-01-16 23:16] erco77 commented on #358
I can use `grep` instead. Using `egrep` is an old habit for its support of better regex, and to avoid a probably long outdated command line flag variation across platforms for, IIRC, the -q flag. Might have been one of the really old versions of OSX, or Solbourne (Sun clone) machines I used back in the day.. can't remember.

[2022-01-16 23:35] erco77 commented on #358
Working on adding your cmake patch -- need to test it first.
Also, separately, want to add some doxygen docs to Fl_Cairo_Window.

[2022-01-16 23:45] erco77 commented on #358
OK, committed your cmake patch as 313212b49.

[2022-01-17 01:06] erco77 commented on #358
Added doxygen docs elaborating on the coord system and a small code example. The following screenshot shows the added text:
![screenshot](https://user-images.githubusercontent.com/6484779/149685874-9960c464-d94c-4b27-b526-4a813be82f05.png)

Hoping that closes this out. Albrecht, feel free to reopen if you think there's anything that needs more.

[2022-01-17 01:06] #358 closed

[2022-01-17 14:20] Albrecht-S commented on #358
Everything's fine from my POV. I just removed a CMake test statement (cd611e3957ba) which was a leftover from my tests in the CMake patch posted above.

[2022-01-18 02:09] MatthiasWM commented on #227
Preferences will now have a static ::filename() function that will return the pathname before creating the database. It has a dynamic ::filename() function that returns the database type (SYSTEM, USER, MEMORY) and the actual path to the database.

[2022-01-18 02:10] MatthiasWM commented on #227
This is still in my local repo and will be pushed when the other issues are solved.

[2022-01-18 15:58] CendioOssman opened #373 "FLTK crashes on macOS 12 (11?)"
We're seeing constant crashes when running FLTK 1.3.7 on a M1 processor. FLTK 1.3.5 works just fine though. This is with an x86_64 process being run through Rosetta. It's unknown if a native compiled binary has the same issues.

We're currently debugging this so I'll ask for your patience in more details. I wanted to file the issue right away in case you are considering doing a 1.3.9 and it might

[2022-01-18 19:29] wyatt8740 commented on #373
They're doing a 1.4.0, as far as I can tell.

So I assume this is Mac OS? Does it crash immediately on startup?

Also, [1.3.8 claims M1 support](https://www.fltk.org/articles.php?L825); why don't you try 1.3.8?

[2022-01-19 00:02] MatthiasWM commented on #373
We are in the process of releasing 1.4.0 . I am currently extending Fluid and modernising Fl_Preferences. My main machine is a MacBook Pro with M1 and I run native M1 FLTK apps daily without crashes, occasionally Intel FLTK code for verification, also without crashes. Please try 1.4 for your project. It is quite stable already. I also recommend that you generate Universal Binaries when releasing s

[2022-01-19 12:12] CendioOssman commented on #373
Alright, so we've gotten a bit further. We've seen the crash once on x86 now as well. But just once. So it seems to happen more often on M1, but is not exclusive to that platform.

A crash dump can be found here for those interested:

https://community.thinlinc.com/t/thinlinc-4-14-0-beta/288/2

It's not too helpful though as it seems it crashes way after the issue has been triggered.

The path we

[2022-01-19 14:45] samhed commented on #373
We have finished testing the above fix at our end now, we're fairly certain that it fixes the crash.

[2022-01-19 15:04] MatthiasWM commented on #303
OK, I think I caught everything pressing in PR #374. I decided against adding support for the XDG based standard simply because I don't have a Linux machine available ATM. Also, if would break existing apps. I am open for a discussion, of course.

[2022-01-19 21:22] Albrecht-S commented on #373
Thank you very much for the analysis, thorough testing, and the patch.

@ManoloFLTK What do you think about this patch? It looks very "simple" but I can't tell if it is correct.

[2022-01-19 21:41] Albrecht-S commented on #303
I could probably assist at least in testing.

I've personally "seen" such a transition in Git config files. If you like to see what happens, `sctrace` can be used to trace the Git invocation. It does basically check "both" locations and uses the one that can be accessed:
[code]

In my case I moved the "classic" config file `/home/albrecht/.gitconfig` to the new `XDG` config file `/home/albrecht/.c

[2022-01-20 00:28] MatthiasWM commented on #303
Ok, I can give that a try. It does not look too complicated to implement. So does the pure existence of `/home/albrecht/.config/` imply that XDG is supported? Or should we always write new preference there, even if the folder was not created yet? Hmm, guess I actually have to read the docs 😉

[2022-01-20 00:46] Albrecht-S commented on #303
Reading existing preferences is simple, we just need to take what we get. If there are both files (i.e. the same preferences file in both directories) I don't know. There must be a preference (pun not intended) but I'd suggest not to try to merge different files.

Citing the docs mentioned above: "_There is a single base directory relative to which user-specific configuration files should be writt

[2022-01-21 19:10] Albrecht-S commented on #303
@MatthiasWM Some more info:

I think that we should always test for more than one option. IMHO it's most important to find existing files so users don't lose their preferences.

On my system (i.e. for me as user albrecht) `$XDG_CONFIG_HOME` is not defined at all but nevertheless there are lots of files (11) and subdirectories (58) in `~/.config`. The spec says:

The latter seems to be the case on

[2022-01-22 21:40] MatthiasWM commented on #303
As I am reading myself into XDG a bit more, `$XDG_CONFIG_HOME` can be set to any shell-readable path, including `~` and recursive `$` environment variables, and even multiple paths separated by `:`'s. Not sure if there is an API to interpret those things, or if it needs to be written from scratch?!

[2022-01-22 22:17] Albrecht-S commented on #303
Off the top of my head: as I understand `$XDG_CONFIG_HOME` should be one path. I don't know if a path can be constructed from recursive environment variables, but maybe yes. However ISTR that all such paths must be absolute paths. If this is all possible it looks pretty complicated to parse and translate everything. Does `~` count as an absolute path? Can the user's `PATH` environment variable con

[2022-01-22 22:20] Albrecht-S commented on #303
After thinking further I do also believe that `~` is only a shell convention (to be interpreted like `$HOME`) which in turn would mean that this is not allowed in a **path**.

[2022-01-22 22:24] Albrecht-S commented on #303
@MatthiasWM Are we reading the same document? In [my specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) the word "shell" does not exist.

[2022-01-22 22:41] MatthiasWM commented on #303
@Albrecht-S Thanks again for the link. I had been collecting general use cases from stack overflow, but reading through the specs again, well, those cases are simply wrong. So the strategy is now: check if a prefs file or data directory exists in `~/.fltk/Vendor/Application`, we will use that for everything. If not, we use `$XDG_DATA_HOME/Vendor/Application/` (not `fltk`) for user data files, and

[2022-01-22 22:49] MatthiasWM commented on #303
Another question. Back then, I used CamelCode to write the functions. Should this be corrected:
[code]
It's not too many functions, but code that uses the new methods will not compile in FLTK 1.3.x .

[2022-01-22 23:16] Albrecht-S commented on #303
Yes, but... If one of the "vendors" is `"fltk(.org)"` so we can use `$XDG_CONFIG_HOME/fltk.org/fluid.prefs` etc. But then, the "standard" appears to be to use "application" as the primary key in `$XDG_CONFIG_HOME`, hence `fltk.org` would look a little strange. I have such subdirectories like Code, brasero, vlc, VirtualBox, xviewer, pulse, google-chrome, gnome-session to name only a few.

On a firs

[2022-01-22 23:19] Albrecht-S commented on #303
My answer is yes, change this to FLTK standard with deprecated "old" names.

That doesn't matter. As long as the old name(s) still exist users that target both 1.3 and 1.4 can use the old name. The other way around is not necessary. It's the same with our new name FL/platform.H which replaces FL/x.H (old is good for both, new only for 1.4).

[2022-01-22 23:30] MatthiasWM commented on #303
@Albrecht-S : Hmm, as for the Vendor/Application naming, it's kind of arbitrary anyway. Users can read how the filename is created and set Vendor and Application accordingly. I find the XDG approach too simple, Fluid, for example, is also the name of a web browser, and for several fluid simulations.

I'll be happy to put the user data into the config directory. Less work for me. And only one `mv`

[2022-01-23 17:58] Albrecht-S commented on #303
@MatthiasWM FYI: one of the recent commits must have introduced new doxygen warnings:
[code]

[2022-01-23 18:15] MatthiasWM commented on #303
Yes, that should be fixed in my branch. I will push it upstream as soon as I have XDG implemented.

[2022-01-23 21:41] MatthiasWM commented on #79
Fixed

[2022-01-23 21:41] #79 closed

[2022-01-23 21:50] MatthiasWM commented on #190
The Android port has been removed from the FLTK for now. The implementation was incomplete and highly experimental.

[2022-01-23 21:50] #190 closed

[2022-01-23 21:50] MatthiasWM commented on #190
Sorry for any inconvenience.

[2022-01-24 14:37] MatthiasWM commented on #303
Fixed in 7308bcdb74e34626c6459699cb57371afd7b343b

[2022-01-24 14:37] #303 closed

[2022-01-25 20:31] MatthiasWM commented on #355
The changes in #378 add the option to set the background color for style. This is a bit different from setting on a per line base, but seems to be more universal without requiring a completely new data structure.

STR 2838: implementing strike through, underscore, and undersquiggle would also be pretty easy.

STR 3453: highlighting the cursor line can easily be done with the secondary selection

S

[2022-01-26 06:32] ImUrX opened #380 "Add wayland support"
I didn't find any tracking issue for this so thought I could make one, is there any ongoing visible progress on this?

only thing i found about is [this comment](https://github.com/fltk/fltk/issues/225#issuecomment-872113076)

[2022-01-26 07:06] MoAlyousef opened #381 "Pressing shift+tab on an open menu bar can segfault when mouse is away"
Given the following repro:
[code]
Pressing shift tab on an open menu can segfault with the following backtrace (on linux):
[code]
The segfault isn't consistent however. Sometimes it doesn't occur. It mostly occurs when the mouse is away from the menu.

[2022-01-26 09:58] MatthiasWM commented on #381
Thanks for the bug report. I could not get it to crash on Linux or Mac. Is there a specific procedure to follow?

[2022-01-26 10:00] MoAlyousef commented on #381
Thanks for checking.
I can repro with fluid as well.
Open fluid from the command-line, press alt-f (opens the menu bar), then shift+tab.

[2022-01-26 11:46] MoAlyousef commented on #381
I can also repro with Fl_Choice:
[code]
You can just open the choice by clicking the arrow and press shift+tab.

[2022-01-26 12:36] Albrecht-S commented on #380
A Wayland port is work in progress and will likely be included in 1.4.0.

Discussion about library development takes place in our "forum" (aka mailing list, Google Groups) [fltk.coredev](https://groups.google.com/g/fltkcoredev).

See thread "Please vote: add a Wayland platform to FLTK":
https://groups.google.com/g/fltkcoredev/c/V9UdH2ZZyzg

[2022-01-26 12:50] Albrecht-S commented on #381
I can reproduce it with the "Fl_Choice" test.

**_CAUTION:_** Running this under `gdb` can hang the entire X session: `gdb` is waiting for input but the open menu grabbed the keyboard. Mouse actions to close the menu are obviously no longer possible after the crash. The only way out I found (except power-off) was `ctrl/alt/f1` to "escape" to a console window and kill the `gdb` process, then back t

[2022-01-26 13:12] Albrecht-S commented on #381
Steps to reproduce:
1. Click on the `Fl_Choice` arrow (the menu window opens)
2. Move the mouse to the right off the arrow box
3. Press `Shift+Tab`

I found that `static int backward(int menu)` is called with `menu == -1`.
Here's a quick fix:
[code]

Note: this quick fix avoids the crash but I didn't investigate further. `printf()` is only for debugging, obviously.

@MatthiasWM Can you please take

[2022-01-26 16:17] MatthiasWM commented on #381
It's fixed in the master branch. Thanks for the detailed description.

[2022-01-26 19:24] Albrecht-S commented on #355
The original question in STR 3277, comment 1 and 2 was: make the method virtual **or** add a background color feature. Since the latter is done I think that we don't need the virtual method.

I would tend to close this issue (label "wontfix") together with STR 3277 ("resolved"). Setting the line background color as suggested here would conflict with the per-character setting implemented now and wo

[2022-01-26 19:34] Albrecht-S commented on #355
@MatthiasWM What does this mean? Should the user do this, or would it be done somehow internally? I just don't understand what you mean with "can easily be done".

The patch given in STR 3453 looks pretty straight-forward and not too complicated. The only issue I saw looking at it was that some public methods would take `bool` arguments. We should stay with `int` for compatibility. The patch might

[2022-01-26 19:44] Albrecht-S commented on #355
@MatthiasWM I believe "strike through" and "underscore" (as requested) are interesting features. I wouldn't make it too complicated and add "undersquiggle".

This should be doable without yet another drawing pass. `Fl_Text_Display` is sometimes slow anyway so we shouldn't make it even slower if possible.

[2022-01-26 21:18] MatthiasWM commented on #355
Fl_Text_Buffer has not only a `selection` range but also a `highlight` range: https://www.fltk.org/doc-1.4/classFl__Text__Buffer.html#ab53392af0a3ba98312f230dd40ed5fb9 and a `secondary_selection`. So changing the background of a single line that contains the cursor, as suggested in the STR, can easily be achieved by the user by adding this (pseudo)code to the text change callback:
[code]

[2022-01-26 21:32] Albrecht-S commented on #355
Two questions:

1. Wouldn't that be a little too complicated?
2. What if the text is not changed but the cursor is moved? "text change callback" doesn't sound like this covers cursor movement.

I believe users would be asking for a simple function to be switched on and off by a call to an `Fl_Text_Display` method like activating line numbering and wrap mode. Setting the "_cursor line highlight (ba

[2022-01-26 21:33] erco77 commented on #355
+1 for undersquiggle in Fl_Text_Editor, if it's not too hard to add.

There's a few times where I'd have wanted to use it.

Certainly its evolved from being used for just highlighting misspelled words, and is now often used in IDE contexts to highlight syntactical errors, when the editor is smart enough to detect such things. Just be sure to allow its color to be set, and respond properly to highl

[2022-01-26 21:40] Albrecht-S commented on #355
I'm fine with this if it's really requested (and this is a real request). So ...

+1 from me as well.

[2022-01-26 21:58] MatthiasWM commented on #31
Done: 84c0b7495b0859cce8b79fc6e4ceee19bc4f2f35

[2022-01-26 21:58] #31 closed

[2022-01-26 22:47] MatthiasWM commented on #381
Fixed in master: 5d9db353868008ae2f2b47ed501ee92d110b5313

[2022-01-26 22:48] #381 closed

[2022-01-27 00:26] MatthiasWM commented on #355
Current pull request now features underline, strike through, and red and blue dotted underlines.

[2022-01-27 00:57] MatthiasWM opened #382 "Fix OpenGL graphics driver to allow widgets inside GL Windows"

[2022-01-27 00:57] MatthiasWM commented on #382
Fix HiDPI calculation, fix scaling.

[2022-01-27 01:15] MatthiasWM opened #383 "More Fl_Text_Display details."
Add various color settings to Fl_Text_Display. Add graphics for secondary selection. Look into highlighting the line with the cursor. Make line number of cursor line bold.

[2022-01-27 01:38] Albrecht-S commented on #380
FTR: see also [STR 3371](https://www.fltk.org/str.php?L3371): "Wayland Display Server Protocol support"

[2022-01-27 08:24] ManoloFLTK commented on #31
@MatthiasWM Beautiful now on a retina display. Many thanks.

[2022-01-27 16:49] Albrecht-S commented on #31
@MatthiasWM I wonder what exactly you did to make it more HiDPI friendly. I noticed that the images are a tiny bit smaller (112x112 rather than 124x124) but the actual (net) checker size is the same. They look "sharper" though.

I also noticed the nice new (slower) animation effect.

This is just for my own curiosity: how did you do this? And wouldn't we "need" twice the resolution to make it real

[2022-01-27 18:35] ManoloFLTK commented on #31
Consider line #877 of checkers.cxx
    `png[i]->scale(png[i]->data_w()/2, png[i]->data_h()/2);`
With it, the drawing size of each image is half its data size. The net result is
perfectly sharp piece images on a retina display.

[2022-01-27 18:53] Albrecht-S commented on #31
png[i]->scale(png[i]->data_w()/2, png[i]->data_h()/2);

Oh, yes, I see, thanks, @ManoloFLTK. I missed the fact that we already had twice the size (the checkers are in reality only about 56x56). So I think the only relevant change was sharpening the existing images?

[2022-01-27 22:46] MatthiasWM commented on #31
Just sharpening is not enough. The original image was doubled in size and blurred. The best solution is to vectorise the graphics, so they can be scaled arbitrarily. The rendered PNG is a little bit smaller because I had the shadow reduced in size to avoid some clipping artefacts. The shadow uses the alpha channel of the PNG.

But I can't take all the credit 😄. I always wanted to try out Fiverr an

[2022-01-27 23:09] MatthiasWM commented on #355
@ZJUGKC thanks for the request. I implemented background colors on a pre-style base instead. I believe that this is more versatile, and it also fixes two other STRs. Most of what line highlighting would do can also be implemented with this feature. The fix also adds underlining and strike through.

[2022-01-27 23:09] #355 closed

[2022-01-27 23:20] Albrecht-S commented on #31
OK, so you paid for the job at https://www.fiverr.com ?

I saw this and I also got the impression that it worked a little different on my Mac and on Linux but I didn't pay too much attention to the differences.

**Remaining question** @erco77 (the author of the Gimp image) and @MatthiasWM (the person who changed the png's): shall we remove the Gimp image from the repo? I think it's no longer usefu

[2022-01-27 23:27] MatthiasWM commented on #31
Yes, but I made sure to make known that this is part of an OpenSource projects. Plus it wasn't expensive at all compared to the time I would have had to invest to draw this.

Yes, it's different because other events may interrupt Fl::wait() sooner than the given time. I should probably fix that.

I think it makes sense to remove it. I would add the vector data, but it's 600kBytes times four files.

[2022-01-27 23:41] erco77 commented on #31
Yes, remove the gimp image if it's no longer the source for future work.
I'm guessing a vector image is a better source, so please include that instead.

[2022-01-27 23:53] Albrecht-S commented on #31
Old image file removed in commit 8e42f772f54603f6341de629987b2d1ed1d9d0e8 as requested.

[2022-01-27 23:55] Albrecht-S commented on #31
This would be a perfect case for the new cross-platform Fl_Timeout handling (although it should work now already, of course).

[2022-01-28 01:08] Albrecht-S commented on #31
600 kBytes x 4 images is not very much but if it's considered too much you could upload it here and, provided that GitHub exists for some more time, we'd have them saved.

OTOH, Greg and I could put them on the FLTK server in a folder we'd have yet to specify (do we have an STR for this?) and then we'd have the files under our own control outside the repository.

[2022-01-28 12:48] MatthiasWM commented on #31
Created and add my own pieces which I herewith put under the FLTK license.

[2022-01-28 12:49] MatthiasWM commented on #31
Also added vector data for even higher DPI screen in the future.

[2022-01-28 14:15] ManoloFLTK commented on #31
Are these vector data in SVG format? If so, checkers could read the vectorial files and adapt
automatically to any DPI.

[2022-01-28 16:13] Albrecht-S commented on #31
Great, thanks for these new checker pieces, they're looking clear and pretty well.

However, if I had a wish free I'd wish that all the "shadow" and "light" effects point at the same direction. This was already an issue with the old checkers from Greg but maybe it's easier to change in your version?

If you look at the black checker the "light" seems to come from the NW side if you look at the out

[2022-01-28 23:16] #383 closed

[2022-01-28 23:38] Albrecht-S commented on #31
@MatthiasWM :1st_place_medal: :+1: Awesome, thank you very much for commit 303e8de48397909751b32b0754257192f89ef7b0.

[2022-01-28 23:43] MatthiasWM commented on #31
Changed the shading.

Yes, it's an SVG. Nano SVG does not support the blurring of the shadow or the layers to generate all four pieces from on file.

[2022-01-29 00:26] erco77 commented on #31
Don't know if it's worth it, since it's "just a checkers game", but here's a fun thought:

If you really wanted to render the SVGs for full image scaling, then the shadow could be rendered as a PNG, and the detailed piece over that as an SVG.

Scaling the PNG should be fine, since all it would have is shadow information in its alpha channel, and therefore wouldn't suffer from scaling artifacts.

[2022-02-01 15:45] #382 closed

[2022-02-01 17:09] Albrecht-S commented on #252
Regarding Cairo drawing (development roadmap):
1. We're striving to get Wayland support on Unix/Linux as a replacement of X11 drawing included in the 1.4.0 release. FLTK's Wayland drawing will be based 100% on Cairo.
2. Once Wayland support is implemented we plan to add a Cairo drawing option on Unix/Linux platforms which would then use the existing Cairo graphics driver.

Cairo drawing on Unix/Li

[2022-02-04 12:05] bsdooby opened #386 "'GL/glx.h' file not found: macOS Monterey (12.1)"
While trying to build the target `fltk_gl` in Xcode (project generated by CMake in a relative build dir, with `cmake .. -G Xcode`) the above error is produced. This error happens on both branches (`master` [1.4], `branch-1.3`).

[2022-02-04 12:14] Albrecht-S commented on #386
Please ask questions about building the FLTK library in our user support forum fltk.general (see instructions below). The error you're seeing is likely to do with missing software packages but particularly on macOS there are several ways to install such additional packages (homebrew and others).

Standard reply follows:

[2022-02-04 12:14] #386 closed

[2022-02-04 13:33] bsdooby commented on #386
It was always my impression that FLTK should be self-contained. Therefore, this looks like a bug to me. For sure I can install the necessary 3rd party dependencies, but then: what's the point? I will have a look at your suggestions.

[2022-02-04 14:12] Albrecht-S commented on #386
It is not possible that a GUI library like FLTK is self-contained. FLTK needs at the very least the graphics library of the OS. Even that requires header files (usually "-dev" packages) so we can compile and link the library. Unfortunately macOS does not even provide all necessary files to build the library itself (autoconf, CMake) but you can install the "Xcode command line tools" from Apple whic

[2022-02-04 15:31] bsdooby commented on #386
Hi Albrecht,

THX for your valuable/appreciated information. As we are dependent on
OpenGL, we need these file(s).
But as gl3w (the only req. for us at the moment) has a more or less
painless target OS installation,
it works magically. I need now investigate how Xcode (in my case) "finds"
these dependencies without
manual intervention. The advantage of a "close" ecosystem :/

Beste Gruesse
Peter

[2022-02-04 16:26] Albrecht-S commented on #386
Hi Peter,
I can only tell you that I installed "Xcode commandline tools" (which are part of Xcode so you don't need to do that explicitly if you have Xcode already IIRC) and homebrew with some packages I needed. But I don't remember which ones and how exactly I did that. I was a complete noob regarding macOS at that time and I did it in a trial-and-error process because I needed macOS as a test sy

[2022-02-07 10:47] bsdooby commented on #386
Thank you for your information. There seems to be a need for gl3w for the
M1 chip (?): macOS Monterey on the x86_64
platform does not need it. At least this is what my preliminary tests
showed.

;) Near where I live there is a little village which is called
"Niederhäusern".

Cheers from Bern
Peter

On Fri, Feb 4, 2022 at 5:26 PM Albrecht Schlosser ***@***.***>
wrote:

[2022-02-07 13:49] Albrecht-S commented on #386
On my macOS 11 (Big Sur) on Apple M1 I didn't see `gl3w` in my `homebrew` installation with `brew list` but this may not mean anything. I'm now upgrading to Monterey...

[2022-02-07 23:12] MatthiasWM commented on #371
FLTK uses neither px nor pt. It uses FLTK units that originally related to pixels, and never bothered about the screen dpi.

There is an easy solution for you though. You can design your user interface for a typical resolution, making sure that the margins are what you expect. Sometimes, adding a space character helps. Once it is done, you can use `void Fl::screen_dpi(float &h, float &v, int n)` t

[2022-02-07 23:55] MatthiasWM commented on #370
The current implementation uses the original color if the difference in luminance Is more that 38%. If it is less, the foreground is set to white if luminance is under 50%, and black if its over. Blue contributes only 11% to brightness in a linear system, and even less in a log system, so (0, 122, 255) as a background is (0*30 + 122*59 + 255*11)/256 = 39% bright and should absolutely return white

[2022-02-08 04:32] MoAlyousef opened #387 "Event FL_ENTER doesn't seem to trigger for windows on Windows"
Hello
Given the following repro:
[code]

Event FL_ENTER triggers correctly for MyButton, but never for MyWindow. This issue only occurs on MS Windows.

[2022-02-08 07:19] ManoloFLTK commented on #373
@CendioOssman Many thanks for finding this error and its cure. Can you use a patched FLTK 1.3.8 for macOS? FLTK 1.4 should be out soon and has been fixed too.

[2022-02-08 07:19] #373 closed

[2022-02-08 11:34] MoAlyousef commented on #387
A crude fix can be found here, not sure if it's correct overall:
[code]

[2022-02-09 01:13] ramcdona opened #388 "[RFE] End user copy to clipboard from fl_message"
Is it possible to enable the end-user to copy the text from a fl_message to the OS clipboard?

I'm not interested in making the fl_message work with drag-n-drop events or an application specific clipboard.  When I use a fl_message to display an error message to my users, I'd like for them to be able to copy/paste that message into an email for error reporting (and other use cases).

My wish is tha

[2022-02-09 08:23] CendioOssman commented on #371
Injecting some spaces might work in some cases. I'll see if I have time to test that. It won't work for things that don't include text though, or where the text is under user control (e.g. input fields).

Scaling won't solve this as (I assume) everything will scale proportionally. So the margins will still be too small. Just in more glorious resolution. :)

And yes, I know FLTK unfortunately lacks

[2022-02-09 09:28] CendioOssman commented on #370
We saw this issue with `Fl_Button`, which does `labelcolor(fl_contrast(c, col));`. Do you get white if you test that in your end?

[2022-02-09 13:22] CendioOssman commented on #373
We've been running a patched FLTK since we found the fix, so we're good. :+1:
I believe @bphinz has also patched his FLTK that is used for the official TigerVNC builds.

[2022-02-09 14:26] Albrecht-S commented on #388
Thanks for the suggestion.

I'm working on the implementation of ctrl-c (macOS: command-c) to copy the message text to the clipboard which would be always active (but users would need to know about it because it's a "hidden" feature.

Offering a "copy" button on demand -- by setting a "copy button" flag before calling fl_message() -- would be another option but much more work.

[2022-02-09 15:47] Albrecht-S commented on #388
Fixed in commit f6c2531b5b4d939352dccd9f8295f4471d7e1c4c.

@ramcdona Please confirm that the above commit works for you. I'd like to leave it as is and not add an extra button as [discussed in fltk.general](https://groups.google.com/g/fltkgeneral/c/lXKOo8Jx75U).

[2022-02-09 15:58] erco77 commented on #388
Just to note: I'm pretty sure this same feature (^C in dialog boxes copying msg to the clipboard) has been a long standing hidden feature in MS windows dialogs. I remember learning about it very early on (perhaps as far back as Win NT?), and was one of the few times while using MS windows I thought "Wow, that's actually a really nice feature"

[2022-02-09 18:32] ramcdona commented on #388
I haven't had a chance to pull this down and build with it yet (will try to later today).  But it should work for me.

[2022-02-09 22:50] MrExplode opened #389 "Location of the FLTK include files"
I'm trying to build FLTK for Windows and noticed that the README.CMake.txt isn't really up to date. the output artifacts aren't at the stated paths, and even though I found the .lib files I can't seem to find the include files anywhere. Where are they being placed?

[2022-02-09 23:10] Albrecht-S commented on #389
There are several different build systems on Windows, for instance Visual Studio, MinGW, MSYS2, ...

Please specify what you are using and in what points README.CMake.txt is outdated so we can fix it (if it's wrong).

Thanks. That said, if this is a bug report, then this is the correct place and you can help us improve the documentation. If this is a question how to build FLTK, then please see bel

[2022-02-10 10:05] MrExplode commented on #389
I'm building with Visual Studio 2022.
Well looking at it now I figured out where are the things. Realized that other than the vs7 everything is ok in the readme.

[2022-02-10 10:05] #389 closed

[2022-02-10 15:08] wcout commented on #370
So as the difference in luminosity between black (0/0/0) and Gnome's blue (53,132,228) actually is calculated to be 46% in `fl_contrast()`, it will return the "original color" - black (0,0,0). That's what the OP sees.

BTW: You are calculating the luminosity here with ( sum ) / **256**, but the code in `fl_contrast()` does ( sum ) / **100**. Which one is right?

[2022-02-10 19:11] Albrecht-S commented on #370
As @MatthiasWM wrote the algorithm used in `fl_contrast()` uses four (essentially three) cases. The first (two) case(s) use(s) the difference of the two calculated luminosities (basically `abs(L1-L2)`), the other two cases select either black or white. The formula is simplified and may not return _"optimal"_ values for several reasons:
1. No gamma correction
2. Assumed linearity (instead of power

[2022-02-11 16:02] Albrecht-S commented on #386
No news other than what I wrote (edited) [four days ago](https://github.com/fltk/fltk/issues/386#issuecomment-1031488916). Maybe you missed my later edit of the comment because you're obviously reading the notification mails rather than using the GitHub web interface.

[ Sorry for this. I learned from this not to edit messages later with essential informations. ]

Grüße in die Schweiz.
Albrecht

[2022-02-11 16:16] bsdooby commented on #386
Hi

Did no receive the full message (?) I just went on GitHub to see your
comment.
I can confirm that the dependency to gl3w somehow disappeared.
That is really strange. But: even better like this :)

Thx again for your investigations.

Cheers
Peter

On Fri, Feb 11, 2022 at 5:02 PM Albrecht Schlosser ***@***.***>
wrote:

[2022-02-12 21:23] Albrecht-S commented on #388
I'm closing this issue now.

@ramcdona Feedback would still be appreciated. Thanks.

[2022-02-12 21:23] #388 closed

[2022-02-12 21:29] Albrecht-S commented on #255
The new container widget Fl_Grid will be added in FLTK 1.4.0 (see #256).
This can also be used for a single row or column. I'm leaving this issue open for later decisions.

[2022-02-12 23:34] ramcdona commented on #388
Was able to test today on MacOS.  Works great.  Thanks much!

[2022-02-13 00:52] Albrecht-S commented on #388
Thanks, done.

[2022-02-13 13:08] Albrecht-S opened #392 "Fix regression in size_range() calculation"
The attempt to fix [STR 3352](https://www.fltk.org/str.php?L3352) "Tiny window problem if child group larger than window" in commit 74dd5164d3da59c99efc451438091c6a40327e0b introduced a regression as reported in fltk.coredev, thread ["Fl_GL_Window Resizing"](https://groups.google.com/g/fltkcoredev/c/EMm6R6J-Yb0).

This issue is only about the regression that windows that set a resizable() but don'

[2022-02-13 19:36] MatthiasWM commented on #370
I will in the next days:
 ☐ write a rainbow contrast test
 ☐ improve the cut-off value
 ☐ try non-linear luminance calculation
 ☐ provide an API for a user-defined contrast function

[2022-02-13 20:24] MatthiasWM opened #393 "Fluid: no grid-bound resizing on window size in numeric mode"

[2022-02-13 20:36] erco77 commented on #392
I added comment #&#x2060;19 to the str, where the notes are relevant to the patches there:

[2022-02-13 21:07] #345 closed

[2022-02-13 21:14] MatthiasWM commented on #262
With the current API, we do not have any additional parameters for box types besides the color. So storing the radius is only possible globally. It is however possible to add custom box types that could have different radii. See `Fl::set_boxtype()`.

If that would solve the issue at hand, I'll take a look at the API and check if there is a way to make this option more reachable, maybe add an examp

[2022-02-13 21:36] Albrecht-S commented on #392
@erco77 wrote:

Thanks, this is helpful. I took a quick look at the patch but I need to think about it. My brain is already half asleep and I'm going to watch SuperBowl which starts in my TZ around 11pm or midnight. ;-)

I'm not sure if we want to continue the old behavior but I'm sure the current behavior is not what we want. I noticed this myself in fluid where you can't resize the main window b

[2022-02-15 13:39] MoAlyousef opened #395 "fl_message_icon() regression"
Hello
As discussed in fltk-general, I'm opening this issue here to track the regression/fix in fl_message_icon() behavior, which currently doesn't allow modifying the icon image. Previously the following code used to work:
[code]
Currently the same code just replaces the boxtype. The image isn't changed, nor is the icon_label.

A partial fix is to allow copying the image pointer to the new icon:
[

[2022-02-15 13:45] Albrecht-S opened #396 "Fluid: compiler warnings"
[code]

I would have fixed this myself but I don't know what to return in the `else` case. Zero?

[2022-02-15 23:26] dumblob commented on #190
Let's hope FLTK will return to Android (and maybe even iOS) sooner or later.

[2022-02-16 07:46] MatthiasWM commented on #190
Yes, Android, iOS, and Linux frame buffer support are in the pipeline.

[2022-02-16 13:53] Albrecht-S commented on #395
Fixed in commit 1cdd669dc6176ad8233484686591b235947f22c1.

Please confirm...

[2022-02-16 15:29] MoAlyousef commented on #395
I confirm the current fix works. Thank you

[2022-02-20 20:19] #396 closed

[2022-02-20 21:03] #393 closed

[2022-02-20 21:49] MatthiasWM opened #400 "Fluid: undo on math functions in widget dimensions"

[2022-02-21 21:45] grammoboy2 commented on #252
I saw some reference to transparency here, or is opengl a total different topic?
https://github.com/fltk/fltk/commit/db0a1f4baeb928b54d328d5dfbd0ec37b0b58bd3

[2022-02-23 00:09] Albrecht-S commented on #392
Status report: Branch [issue-392_size_range](https://github.com/Albrecht-S/fltk/tree/issue-392_size_range) in my fork can be used to test the new functionality. Test/demo programs are included and built automatically with CMake (test/winsize*.cxx).

This branch has some active printf test/debug statements which will be removed before the final merge.

The new `size_range` calculation can be found

[2022-02-23 13:57] Albrecht-S commented on #252
I _believe_ that drawing with transparency (alpha channel) - as implemented by @MatthiasWM so far - is limited to
- the OpenGL driver **and**
- a subset of drawing methods.

IIRC it's line drawing, rectangles, arcs, circles, text, and maybe some more, likely everything you need to draw widgets but probably no fancy things like curves.

[2022-02-24 19:54] Albrecht-S commented on #392
The following text is my attempt to document the default `size_range()` calculation, i.e. if the window has a `resizable()` widget and `size_range()` has not been called. The full documentation can be found [in my fork](https://github.com/Albrecht-S/fltk/blob/f67cb8f964f25ddb9465e97cbf07d9cd31a26ca2/src/Fl_Window.cxx#L642).

**_Documentation of default size_range calculation:_**

... FLTK tries to

[2022-02-24 20:02] Albrecht-S commented on #392
The above documentation is part of my fix and documents the behavior as it was IMHO always intended but not implemented correctly. All comments and suggestions for improvements would be appreciated.

@erco77 The "magic 100" is useful (as documented) to make the window resizable by the user below its original size if the resizable is larger than 100 in any direction. This is the old behavior and sh

[2022-02-26 05:45] wcout commented on #392
I tried your branch (Linux only). It works as described.

Though I don't know what how the following code *should* behave. It does not behave like before.
Previously it let the window resize in both directions and the group appears then. Now it will allow only vertical resize and the group does not appear:

[code]

[2022-02-26 12:23] Albrecht-S commented on #392
Again, you wrote: "I don't know what how the following code should behave".

I did not directly answer this question (if it was one). The intention is to let the window resize in both directions, i.e. the same behavior in x direction as it has in y direction.

[2022-02-27 07:21] MoAlyousef opened #401 "Native file chooser messes with main window resizing"
Hello
Native file chooser removes maximize button from main window's decoration on linux (tested on a kubuntu machine), and disables resizing on xfce.

Given this minimal repro:
[code]
The main window appears with a maximize button, after clicking the button and spawning the dialog, the decoration appears to modify where the maximize button disappears and the close button shifts towards the left a

[2022-02-27 20:10] Albrecht-S commented on #401
Thanks for reporting this. I don't have a KDE system available but I believe that @ManoloFLTK can test and hopefully fix this. Manolo?

[2022-02-28 06:18] MoAlyousef commented on #401
@[ThiNei2l](https://github.com/ThiNei2l), the original reporter, also added:

[2022-02-28 06:22] wcout commented on #392
I probably meant, if a resizable is outside of the window, should the window then be resizable at all. Didn't know if the bug was "one direction still resizable" or "one direction not resizable".

But that's all good now and consistent too.

[2022-02-28 08:56] CendioOssman opened #402 "Enter bypasses focused button for default button"
FLTK's way of handling a default button differs from other toolkits (at least GTK), which is confusing for our users. The specific detail that trips them up is what happens when the focus is on a non-default button and Enter is pressed.

On GTK, and what our users are expecting, is that the focused button gets pressed.

What happens is that the default button gets pressed instead. This also usuall

[2022-02-28 11:14] Albrecht-S commented on #402
FLTK does not support the `enter` key on normal buttons. The only key to activate (trigger) a button is the `space` key. The exception to the rule is the `Fl_Return_Button` which takes the `return` or `enter` key when no other widget takes the event.

What do you mean with "default button" in your description above?

There's AFAICT no "default button" in FLTK standard dialog windows unless there i

[2022-02-28 11:27] CendioOssman commented on #402
Ah, I see. All my dialogs had a return button so I couldn't really check what happened without one. :)

So I guess the issue would rather be that `Fl_Button` doesn't respond to Enter at all.

An `Fl_Return_Button`, yes.

I can sympathise with that. Though at the same time FLTK is the small guy in most cases, so I would argue that behaviours from the major toolkits are de facto whether we like it o

[2022-02-28 11:56] Albrecht-S commented on #401
@MoAlyousef FLTK's native filechooser tries to detect which filechooser is available and uses either Gtk or KDE or its own filechooser. Please ask the OP which filechooser was raised in their tests. According to the description so far and the mentioned commit 0f335ab4409943ff59dd0c542e9a3c9947c911d7 I assume that the faulty behavior is caused only by the KDE filechooser. Can you or the OP confirm

[2022-02-28 13:02] MoAlyousef commented on #401
I've asked them the question. But you're right, it could be a later commit since xfce doesn't run kdialog by default. But the change in dialog behavior appeared after 14/1/2022 (since fltk-rs version 1.2.27 (which doesn't exhibit the behavior) was released in 14/1/2022).

[2022-02-28 15:16] Albrecht-S commented on #402
Yes, that would be the central issue, but if it did Fl_Return_Button would be (almost?) useless.

Sure, that's a valid point, I can generally agree with this. IIRC there have already been requests to accept enter in normal buttons. However there are certainly compatibility issues if we changed it...

This should definitely be discussed in [fltk.coredev](https://groups.google.com/g/fltkcoredev) bec

[2022-02-28 15:29] Albrecht-S commented on #401
I think the mentioned commit 0f335ab440 is indeed the culprit. It's the first one that messes with unsetting and resetting the size_range() of windows while the filechooser dialog is running. I can confirm similar behavior with the Gtk filechooser - the code has been copied from the Gtk filechooser wrapper to the Kdialog filechooser wrapper in that commit.

Note: I still can't test the KDE filecho

[2022-02-28 18:12] Albrecht-S commented on #401
I could now try it with KDE as well and it looks like this is a "KDE feature" - or whatever window manager is involved, i.e. it's a window manager issue. Maybe FLTK can do something about it but I don't know what could be done. I wrote a small test program that shows the same effect without running a filechooser:
[code]

What behavior should be expected? This program toggles the size_range() setti

[2022-02-28 18:44] ThiNei2l commented on #401
Hello,

I stumbled upon this issue using fltk-rs.
Just tried the above program. After disabling and then re-enabling resizing I can observe the same behaviour that I see after opening a file chooser:

Under LXQt and MATE everything is fine.
With KDE the maximize button vanishes but I can still resize the window using it's borders.
On Xfce, not only the button disappears but resizing is completely

[2022-02-28 21:08] Albrecht-S commented on #401
@ThiNei2l Thanks for confirmation. Dealing with different WM's is always difficult and I don't know if it's the WM's fault or if we can improve something. We'll look further into it.

[2022-03-01 07:32] ManoloFLTK commented on #401
I see that the problem can be fixed, with KDE, by hiding/showing the window just before
the size_range() call intended to restore its buttons to the window titlebar. In other words
add
`win->hide(); win->show()`
just before line 164 of file src/Fl_Native_File_Chooser_Kdialog.cxx fixes the problem under KDE.

However, since other window managers may fail, I would tend to prefer to remove altogether

[2022-03-01 11:15] ManoloFLTK commented on #401
@Albrecht-S : My proposal:
- make code that hides and then restores the window maximize button conditional on a boolean returned by a virtual member function of class `Fl_Unix_System_Driver`;
- have this member function return `false` under X11 and `true` under Wayland.

[2022-03-01 11:46] Albrecht-S commented on #401
@ManoloFLTK: Here are my proposals:

1. Remove the code that fiddles with the maximize button entirely. This could fail and even crash if **any** top level window is deleted while the filechooser is active. This is possible for instance via a timeout (I can provide a working example that crashes).
2. Do this for both the KDE and the Gtk filechoosers.
3. Do not make this code conditional as suggest

[2022-03-01 11:51] Albrecht-S commented on #401
**_Note:_** Altough the proposals above would fix the filechooser issues this wouldn't fix the interaction with the WM as shown in my demo program above. As said before I don't know if we can fix this at all or if this needs to be fixed in the WM. However, this is another issue that should be investigated separately.

[2022-03-01 12:10] Albrecht-S commented on #401
I just tested this. It's different than opening a modal window (which doesn't gray out the widgets) but it works as intended and it avoids subtle problems as seen with trying to deactivate the resize/maximize buttons.

[2022-03-01 12:20] Albrecht-S commented on #401
@ManoloFLTK You wrote:

My suggestion above would allow the user to close the window but this can easily avoided (if wanted) by overwriting the window callback (again, I tested this and I have a working proof of concept).

[2022-03-01 12:32] Albrecht-S commented on #401
Hmm, I found out that `Fl_Window` widgets can't be deactivated (for whatever reason, it's documented behavior). Hence my suggestion above wouldn't work this way. I'm open for other proposals...

[2022-03-01 13:38] Albrecht-S commented on #392
Fixed in commit 091712bea8ff5aab89f0f8483ca572c118ca5715, documentation modified accordingly.

For a summary and reasoning of the implemented changes see also [STR 3352](https://www.fltk.org/str.php?L3352), comment 20.

[2022-03-01 16:44] ManoloFLTK commented on #401
OK. Since window->deactivate() is not solution, I propose to keep the condition code while protecting memorized Fl_Window pointers by Fl_Widget_Tracker objects to protect from possible window deletion during the event loop. That's now committed in the Wayland branch.

[2022-03-03 08:48] ManoloFLTK commented on #401
Should be fixed at d8cb8ec .

[2022-03-03 08:48] #401 closed

[2022-03-04 13:50] Albrecht-S commented on #402
Closing this now, please open a thread in [fltk.coredev](https://groups.google.com/g/fltkcoredev) as suggested above if you believe this needs discussion.

[2022-03-04 13:50] #402 closed

[2022-03-04 14:31] Albrecht-S commented on #337
I believe that this issue has been fixed in commit e80a2734e847bdbbf060b52f86890b409b033710 and I'm closing this issue now.

@AlexMax If you can still test the issue with your "old version" feedback would still be appreciated, whether it still fails or not.

[2022-03-04 14:31] #337 closed

[2022-03-04 15:39] Albrecht-S commented on #380
Wayland support has been added in commit 3718effc431f5622a23c55b254153efdfe4e72c4 and will be in release 1.4.0

[2022-03-04 15:39] #380 closed

[2022-03-04 15:41] Albrecht-S commented on #225
FTR: Wayland support has been added in commit 3718effc431f5622a23c55b254153efdfe4e72c4 and will be in release 1.4.0

[2022-03-04 16:05] MatthiasWM commented on #225
Looking at Arcane, it seems to be much closed to SDL than Wayland or any X11 window manager with SDL running on anything from Desktop over Mobile Phones all the way to game consoles. It has all the features that Arcane has, as far as I was able to compare, and SDL is very mature, being used in hundreds of projects.

Maybe I am missing something?

[2022-03-04 16:06] MatthiasWM commented on #380
Congratulations on that intense work!

[2022-03-05 12:33] wcout commented on #392
Sorry to bother, but I'm observing some issues after this fix (Linux/Ubuntu 20.04) in  https://github.com/fltk/fltk/commit/091712bea8ff5aab89f0f8483ca572c118ca5715

- Ctrl +/- does not work correctly - the windows are not resized with the content
- glpuzzle opens 2 very tiny windows

I went back to the commit before and all is well again. No I see this behaviour already present in the Branch [issu

[2022-03-05 12:42] Albrecht-S commented on #392
@wcout Thanks for bothering ;-)

I confirm both bugs and I'm reopening the issue.

[2022-03-05 14:50] #392 closed

[2022-03-05 14:55] Albrecht-S commented on #392
Both bugs have been fixed in commit 5ebb76050b77aaf6047669968fc3919f3dd043f5.
Branch `issue-392_size_range` has been deleted from my fork.

[2022-03-05 21:08] jackghg commented on #225
Ok, I hope that the thing is modular now.

[2022-03-07 14:10] Albrecht-S commented on #226
This issue should be fixed now in the master branch.

I could test the build using my MSYS2 (64-bit) build, it found the libs and could build the executables. However, in my VM I could not run the programs:
[code]
I assume that this is a runtime issue (either a VM problem or I'm missing something else) but the libs are found and linked correctly.

@imaclmaca Can you please try again and report if

[2022-03-07 17:35] Albrecht-S commented on #332
@erco77 I tried to improve the docs but didn't change code as stated above. Please see commit 53b40f4138e70e443cbaf706cca98786208014ec for details.

I documented all unused bits in the `flags` member as reserved.

If you would like to add even more documentation or example code, please do so soon or open a new issue. I'm closing this issue now with label "fixed".

[2022-03-07 17:35] #332 closed

[2022-03-07 21:07] imaclmaca commented on #226
Hmm, OK.
Re-tried that, in new "build" folders, and both the 32-bit and 64-bit builds did what they did before, that is they built OK, up until the link stage - then the final link of the GLEW targets was missing the OpenGL lib, so failed with...

Scanning dependencies of target OpenGL3-glut-test
[ 98%] Building CXX object examples/CMakeFiles/OpenGL3-glut-test.dir/OpenGL3-glut-test.cxx.obj
[100%]

[2022-03-07 21:35] Albrecht-S commented on #226
OK, I see that libglew32 is now found, is this correct?

To debug the linker error, can you please post the linker commandline before and after your changes?

Besides that, can you please apply the following patch so we can debug some variables? It would be fortunate if you could post the entire cmake run (the configure/generate part, before the build starts). TIA

[code]

[2022-03-08 12:54] imaclmaca commented on #226
On Mon, 7 Mar 2022 at 21:35, Albrecht Schlosser wrote:

Ah! Good point.
No, in my case, it actually finds libGLEW.a, but that is only because, at
some point in the past, I manually copied libglew32.a to libGLEW.a,
probably as part of working around this issue!

To debug the linker error, can you please post the linker commandline

Not quite sure what to post here.
My change is nothing sophisticate

[2022-03-08 13:25] imaclmaca commented on #226
On Tue, 8 Mar 2022 at 12:55, imm wrote:

OK, so I moved aside my renamed libGLEW.a and did a fresh, new build
folder - this did correctly find libglew32.a this time.
However, the GLEW examples still failed to link for want of libopengl32...

[2022-03-08 16:56] Albrecht-S commented on #226
folder - this did correctly find libglew32.a this time.

Good so far, thanks for confirmation.

Unfortunately there's no zip file.

Regarding the linker command line:

OK, I understand. I thought you had found and edited the real linker command and could post it here. I assume you're working with `make` after you created the build files with `cmake`. Then you can do these two steps:
1. run the bui

[2022-03-08 17:01] MoAlyousef opened #403 "fl_xid() on wayland returns a type that can't be used with wayland functions"
Hello

I might be missing something, but it seems fl_xid, which would normally return a window handle on all platforms, when using the wayland backend, it returns a wld_window which is an internal type to FLTK, defined in `src/drivers/Wayland/Fl_Wayland_Window_Driver.H`. To get the wl_surface for example, one would have to include the Fl_Wayland_Window_Driver header to be able to get the wl_surfac

[2022-03-08 17:36] wcout opened #404 "Wayland: Fl::get_key(c) for lower case letters different behaviour from X11"
Running the following program under X11:

[code]
When pressing 'a' it shows two events at once, one for 'a' and for 'A'.

Running the same program under Wayland, it will never report 'a', but only 'A'.

[2022-03-08 17:59] erco77 commented on #404
On 3/8/22 09:36, wcout wrote:

     Pretty sure get_key() and the related event_key() method (referenced as a "See also")
     only return _unshifted_ values; according to the event_key() docs:

        /Keys are identified by the //unshifted//values. FLTK defines a set of symbols that should work on most modern machines for every key on the
        keyboard [..]/

     So I'm guessing doing tests

[2022-03-09 09:23] MoAlyousef opened #405 "New build failure when using OPTION_USE_PANGO on Linux"
Hello

The last commit no longer builds FLTK on Linux when specifying the OPTION_USE_PANGO cmake feature due to ODR violation.
[code]

To repro:
[code]

[2022-03-09 12:24] wcout opened #406 "Fl::set_font() different Xft/Pango"
Tested with a modified hello.cxx, where the font should be replaced with a custom font:

[code]
(Using Ubuntu 20.04, so I have the font 'Ubuntu Mono' installed)

FLTK compiled *without* Pango (i.e. using Xft) requires the font name to be passed in the format, where the first character specifies the style and does not work with the other variant.
FLTK compiled with Pango requires the font name to b

[2022-03-09 18:19] Albrecht-S commented on #405
Thanks for the report, I confirm that commit f97fbffa7b927829236e792df8ef6416c6aeed4f (_"Move all font stuff to Fl_Cairo_Graphics_Driver from Fl_Wayland_Graphics_Driver"_) breaks the build.

@ManoloFLTK Can you please check this?

[2022-03-09 18:37] Albrecht-S commented on #406
Thanks for the report. I'm not sure what the correct answer is. It seems that the font names used by Pango **are** different than those used by Xft or the older (XLFD?) font names.

IMHO this should at least be documented so users know how to deal with this. I could also imagine that parsing the font names if Pango is enabled would ignore the first letter in a kinda fallback mode, i.e. if the firs

[2022-03-09 18:48] Albrecht-S commented on #403
Thanks for the report. As you know the Wayland port is absolutely new and may need more documentation or even an improved implementation.

 I don't think that using the wayland surface in a user program is going to work.

That said, we need to document what fl_xid() returns in our "Operating System Issues" documentation chapter. This has not been done yet.

If there's a useful usage of these objec

[2022-03-09 21:10] Albrecht-S commented on #226
@imaclmaca Ian, any news on this build issue?

[2022-03-09 21:37] MoAlyousef commented on #403
It’s mainly for media libraries which usually take a window id (xid, hwnd, nswindow/nsview) to do their drawing, for wayland it’s the wl_surface. For example gstreamer on wayland expects a wl_surface.
That said, I haven’t tried gstreamer with FLTK’s wayland backend yet.
Also libvlc is planning to add a
libvlc_media_player_set_wl_surface:
https://code.videolan.org/videolan/vlc/-/issues/16106

[2022-03-09 22:29] Albrecht-S commented on #226
@imaclmaca wrote in a private mail:

This has been committed in 345e04c08353407a805e67abbd949995e95e03d8, hence this issue is now fixed.

[2022-03-09 22:29] #226 closed

[2022-03-09 23:24] Albrecht-S commented on #403
OK, I see, thanks.

My take on this would be to provide an OS/platform specific method that returns a wl_surface from an Fl_Window if this is what is needed, or something like that. This would IMHO be better than exposing details about internal structures. In this case I would imagine that the user creates an Fl_Window to draw into, then gets the wl_surface via the API mentioned above, and calls t

[2022-03-10 06:37] MoAlyousef commented on #403
I’m ok with providing some utility method to get the wl_surface. Also it should be possible to get a wl_surface from a subwindow.

Regarding the last point, I’m also not sure how that would work with wayland, but I would say it’s the user’s responsibility to ensure correct sync and usage of the raw handle, just like with hwnd etc.

It’s nothing urgent, just I have yet to experiment much with wayla

[2022-03-10 08:10] #405 closed

[2022-03-10 14:18] #403 closed

[2022-03-10 14:59] Spatzendame opened #407 "Can you add UI auto scaling with resolution?"
Hi, many games don't scale the UI which result in a very small UI when playing in modern 4K or even higher resolutions that makes everything unreadable small. I know that it's possible to built in an auto scale function that automatically scales the UI up with the resolution. This would be a major improvement.

[2022-03-10 15:11] ManoloFLTK commented on #407
That is indeed built in the next version of the FLTK library, 1.4.0, which is expected to be released soon. It can be downloaded and used even before its official release.

[2022-03-10 15:11] #407 closed

[2022-03-10 16:46] ManoloFLTK commented on #406
Function `Fl::set_font(int, const char name)` allows to assign a user-chosen font to
a given font number. Under Windows, font are arranged in families, and each (or most?) family contains a regular, an italic, a bold, and a bold-italic variant.

Under X11+Xft and X11+Pango (or Wayland), many other font variants exist, with many different names: black, condensed, light, extralight, thin, semibold,

[2022-03-10 17:40] wcout commented on #404
Yes, this works now like under X11.
Thank you very much.

[2022-03-10 18:13] ManoloFLTK commented on #406
See e8461a6 which documents in great detail function `Fl::set_font(Fl_Font, const char *name).`

[2022-03-11 04:28] wcout commented on #406
So in practice:
For an application, that does not know if it is compiled with Pango/Cairo/Wayland (and without wanting to use `#ifdef`'s in the code) it should be possible to query `Fl::get_font(FL_HELVETICA)` and if this returns an 'old format' name with 'space' as first character it must use the 'old format' for `Fl::set_font()` too, otherwise it must use the new format.
Would that be the way?

[2022-03-11 10:26] ManoloFLTK commented on #406
Yes. The first character of the string returned by Fl::get_font(FL_HELVETICA) would be a space for X11+Xft and an 'S' for X11+Pango (or Wayland).

[2022-03-12 13:04] ggarra13 opened #408 "macOS: Second OpenGL context flashes with a red or black window (it is not properly initialized it seems)"
Under certain conditions, a second opengl context does not get properly initialized and shows a flashing red (or black) window that does not update.  The problem seems related to an FL_RELEASE event before the opening of the context (as calling menus show the issue).
I am attaching a simple demo program that shows the issue with a  README.txt file explaining how to compile it and reproduce.   The

[2022-03-12 22:01] Albrecht-S commented on #408
Copying (and editing) [my reply on fltk.cordev](https://groups.google.com/g/fltkcoredev/c/Qrap9ljL2ao/m/jAPlzDgYBQAJ):

I could reproduce the issue and went back until commit 67347dd76e996 from Sep 16 12:31:03 2020 -0700 (which is, BTW, totally unrelated) and I could still reproduce the issue (flashing window) - whatever that means (in my case it was black rather than red). At least it's not a reg

[2022-03-12 23:06] ggarra13 commented on #408
From my comments on fltk.coredev on the original thread:

In my actual program, the 3d view is opened thru menus.  Changing the menus to select the 3d view opening with the keyboard instead of the left or right mouse button, solves the problem.  That probably means the menu (or the window, not sure how events are propagated) never gets a FL_RELEASE.

In the demo program, changing the FL_RELEASE of

[2022-03-13 16:51] Albrecht-S commented on #408
@ggarra13 Your descriptions above are too unspecific to be sure what you mean. To avoid trial and error, please post a diff file, file names, line numbers, and/or the modified code here. This would help others to understand what you mean and remove all ambiguities of the description.

That said, regarding event propagation: `FL_RELEASE` events are mouse button events usually handled in your class(

[2022-03-13 16:52] Spatzendame opened #409 "How to build FLTK.dll from source with Visual Studio 2022?"
Hi, I did everything described in the README.CMake file and I got successfully built the FLTK.sln using the command prompt.
But when I open it with Visual Studio I have only x64 solutions available, so I selected "create new" and converted everything to Win32. Then I wanted to build the FLTK.dll but in the end I got many link errors "GDIplus".

Can someone please explain to me step by step what I

[2022-03-13 18:11] ggarra13 commented on #408
Hi Albrecht.  Please download the latest exrdisplay.zip here on these pages.  I simplified it a lot and removed a lot of the unnecessary functions. I also placed comments on where the ImageView::handle() function can be changed to make it work.

[2022-03-13 19:48] Albrecht-S commented on #409
Hi Spatzendame, you can't replace a FLTK 1.3.8 DLL with a 1.4.0 DLL because they would be binary incompatible. If you got FLTK 1.3.8 to work with the game there should be no need to change this. Is there anything wrong with the game using the 1.3.8 DLL?

That said, this is not the right place to ask questions about building and using FLTK, please see the following standard reply:

[2022-03-13 19:48] #409 closed

[2022-03-13 20:58] Albrecht-S commented on #408
@ggarra13 Thanks for the update, I'll look into it later unless someone else finds the cause. I'm right now busy with other FLTK stuff, hence further tests and inspection will be delayed.

@ManoloFLTK Just in case this issue is caused by something in FLTK related to macOS, could you please also take a look? TIA.

[2022-03-14 04:07] wcout opened #410 "Wayland: crash fl_read_image()"
I have here an old test program using fl_read_image(), that crashes with Wayland:

[image_cursor_wayland.cxx.txt](https://github.com/fltk/fltk/files/8241614/image_cursor_wayland.cxx.txt)

[code]

[2022-03-15 04:59] ManoloFLTK commented on #410
The cursor hotspot issue will be considered separately.

[2022-03-15 04:59] #410 closed

[2022-03-15 09:16] ManoloFLTK commented on #408
I've built exrdisplay for macOS and see no red thing at all.

I see that 4 GL windows are created and only one image is displayed in a window.

[2022-03-15 10:56] wcout commented on #410
Fixed only partially.

With this modified version of my reproducer program, where the fl_read_image() is called from a Fl_Window::handle() method (hit the space key after start) there is no crash, but the image is obviously not read from the offscreen:

[image_cursor_wayland2.cxx.txt](https://github.com/fltk/fltk/files/8252499/image_cursor_wayland2.cxx.txt)

[2022-03-15 11:55] ggarra13 commented on #408
@ManoloFLTK Be sure to follow the instructions to Left click first (to bring up the chart) and then Right click and drag (to bring up the 3d view).  There's only 3 windows created: 2 GL Windows (one with the image and one with a 3d view) and one normal fltk window (the chart).

[2022-03-15 13:49] ManoloFLTK commented on #410
Should be good now, hopefully.

Instead of fl_read_window(), I would recommend to use the Fl_Image_Surface::image()
member function which works always, whether the image surface is current or not.
This returns a depth-3 Fl_RGB_Image, so you would have to copy it to another memory
area while processing transparency values.

[2022-03-15 14:49] wcout commented on #410
Yes that fixes it. Thank you.
Note: Your change is just in your own fork by now - I applied in manually to my  repo.

[2022-03-15 15:00] ManoloFLTK commented on #410
Sorry. It's in the main repo now too.

[2022-03-15 20:52] Albrecht-S opened #411 "Top level Fl_Window event delivery on macOS"
I observed inconsistent event delivery (particularly FL_MOVE, FL_ENTER, FL_LEAVE) in top level windows on macOS. This issue is a follow-up to issue #408.

1. Top level windows under macOS don't send FL_ENTER and FL_LEAVE events when the mouse enters or leaves the window.
2. FL_MOVE events are delivered to the window that has the focus which is significantly different than on other platforms. This

[2022-03-15 20:55] Albrecht-S commented on #411
@ManoloFLTK Please take a look at the output and compare this with the output on Linux and/or Windows. I'm not sure how important it would be to fix this but it's definitely a platform compatibility issue. Thanks.

[2022-03-15 20:57] Albrecht-S commented on #408
FTR: I opened issue #411 about FL_ENTER, FL_MOVE, and FL_LEAVE event delivery.

[2022-03-15 21:07] ggarra13 commented on #408
@Albrecht-S @ManoloFLTK Yes, I know about the weird redraw() getting called after each event.   It was me just being lazy not wanting to put a redraw() on each location.

[2022-03-15 21:17] Albrecht-S commented on #408
@ggarra13 redraw() schedules drawing the entire scene which means not only wating CPU time but can also contribute to flicker. This is why I mentioned it and I recommend strongly to remove this at least for entirely ignored events like FL_MOVE.

Note that I won't be able to debug this issue further. I gave up so I can concentrate on FLTK 1.4.0 release work. I'm sorry but I spent already way too mu

[2022-03-15 21:51] ggarra13 commented on #408
@Albrecht-S @ManoloFLTK I am placing a new version of the demo program now using a menu so that it can be more easily tested and with the redraw() fixed per Albrecht-S comments.

[menu_exrdisplay.zip](https://github.com/fltk/fltk/files/8257428/menu_exrdisplay.zip)

[2022-03-15 22:24] gnuwimp opened #412 "Selecting text with keyboard in Fl_Text_Editor stops working sometimes"
If you select text with mouse and then move/drag that text to another position, then selecting text with keyboard stops working. And you have to select some text with the mouse to get it working again.

It might be because of dragType is set to DRAG_START_DND and not turned off again after moving text.

Tested on Ubuntu 21.10 with FLTK from 2022-03-15.

[2022-03-16 18:40] ManoloFLTK commented on #411
@Albrecht-S : is this specific of Fl_Gl_Window's or also occurs with Fl_Window's ?

[2022-03-16 21:32] Albrecht-S commented on #411
@ManoloFLTK I first thought it's only Fl_Gl_Windows, but as the second demo program seems to indicate, it's also with Fl_Window's. A simple test is to have one or more of the test programs launched from one or more terminal sessions.

- Under macOS only the window with the focus gets events (seen in its related terminal), no matter where the mouse is on the screen.
- Under Linux (X11) the window u

[2022-03-17 06:15] ManoloFLTK commented on #411
I've looked first at issue 1. above (FL_ENTER and FL_LEAVE events don't get sent).

It appears the **macOS** FLTK implementation doesn't contain code to send them.

It also appears  FL_EVENT don't get sent **under Windows** when the mouse enters a single-windowed app. FL_LEAVE events do get sent.

Thus, we can consider the X11 implementation to be an outlier,
or that the FL_ENTER (and FL_LEAVE to

[2022-03-17 06:24] ManoloFLTK commented on #411
FL_ENTER and FL_LEAVE events get sent when the mouse enters or leaves a window under the **Wayland** platform. That happens whether or not this window has focus.

[2022-03-17 10:14] ManoloFLTK commented on #410
@Albrecht-S : Issue #2 above

should be fixed now in the git repo (618eb8f).

[2022-03-17 13:56] Albrecht-S commented on #410
@ManoloFLTK Yes, thanks, this fixes the issue.

PS: Please don't use '#nnn' to refer to anything but **issue or PR numbers** because GitHub (mis)interprets this always as issue/PR number and adds unintended "user xxx mentioned this issue" messages to the (falsely) referred issue or PR. Sigh :-(

[2022-03-17 14:21] ManoloFLTK commented on #411
Those missed FL_ENTER events concern only Fl_Window widgets. Other widgets
do receive their FL_ENTER and FL_LEAVE events when appropriate on all platforms.

[2022-03-17 14:27] ManoloFLTK commented on #411
Attached patch has FL_ENTER and FL_LEAVE events sent to FL_Window widgets on macOS when the mouse enter or leaves a window, independently from the focus.

There's a small difference with the X11 platform: enter, leave and move events are sent also when the app is inactive, whereas on X11 only move events are sent to Fl_Window's.

[FL_ENTER-macOS.patch.txt](https://github.com/fltk/fltk/files/828720

[2022-03-17 19:20] Albrecht-S commented on #210
FTR: there's some work going on to send FL_ENTER/FL_MOVE/FL_LEAVE events when the mouse is moved over "inactive" windows. The proposed patch in issue #411 appears to use the proposed `NSTrackingArea` and `NSMouseEntered` / `NSMouseExited`.

I'm referencing issue #411 here to make sure that **this issue** (210) will be checked when/if the solution is implemented and this issue (210) can hopefully b

[2022-03-17 19:22] Albrecht-S commented on #411
@ManoloFLTK I mentioned this issue (411) in #210 because I believe that #210 might be fixed as soon as we get FL_ENTER/MOVE/LEAVE events on "inactive" windows which is the subject of this issue.

[2022-03-18 14:24] ManoloFLTK commented on #411
I believe the macOS platform behaves as the X11 platform after commit aa95581.

[2022-03-18 15:02] Albrecht-S commented on #210
My tests with the demo program [issue-210.cxx](https://github.com/fltk/fltk/files/6755024/issue-210.cxx.txt) indicate that this issue is now (since commit aa955812f988a4c0ffa3a43e9a5ba7a20a0e1f92) fixed for macOS as well.

@MoAlyousef @eadf Can you please test and confirm that the issue is fixed now?

[2022-03-18 16:46] ggarra13 commented on #408
I confirm this fixes the issue both in the exrdisplay short demo program as well as in my actual application.  Thank you very much.  I am closing the issue.

[2022-03-18 16:46] #408 closed

[2022-03-18 18:10] Albrecht-S commented on #411
@ManoloFLTK Yes, I agree. Thanks for implementing this.

[2022-03-18 18:10] #411 closed

[2022-03-19 12:57] #404 closed

[2022-03-19 15:16] ManoloFLTK opened #413 "Commit 29d9e31 creates memory handling problem under macOS"
It turns out commit 29d9e31c51 creates a problem for the macOS platform:
the processing of timeouts is no longer "under the umbrella of an NSAutoreleasePool"
so operations done by timeouts may fail to properly release memory.

That's visible for example with any FLTK app, typing cmd-+ to create a
temporary yellow window which is deleted by a timeout. The temp window's
memory never gets deallocated

[2022-03-19 17:51] ManoloFLTK commented on #413
OK. I see there was a problem in platform-independent-wait.patch.txt that changes to the time_to_wait value were not propagated. This is fixed in the V2 attached here.

[platform-independent-waitV2.patch.txt](https://github.com/fltk/fltk/files/8309802/platform-independent-waitV2.patch.txt)

[2022-03-19 21:58] Albrecht-S commented on #413
Yes, this was the main problem. Meanwhile I created my own patch version:
[platform-independent-wait_v3.patch.txt](https://github.com/fltk/fltk/files/8310179/platform-independent-wait_v3.patch.txt)

My version does not introduce a new method in class `Fl` which is a public class. I'm using standard virtual method overloads instead. It's like subclasses of widgets call their parent's handle() metho

[2022-03-20 07:23] ManoloFLTK commented on #413
I'm glad you propose to use an `Fl_System_Driver` method rather than a pseudo private `FL` method. That's what I wanted to do initially, but I had refrained to do it because you wrote earlier that drivers should contain only platform-specific code.

I've reworded a bit the doc of `double Fl_System_Driver::wait(double)` and committed the fix (f5628aa).

[2022-03-20 07:23] #413 closed

[2022-03-20 07:34] ManoloFLTK opened #414 "Partly incorrect doc for function double Fl::wait(double time_to_wait)"
The return part of the doc of function `double Fl::wait(double time_to_wait)` states :
[code]
That is not what this function returns.

[2022-03-20 07:54] MoAlyousef commented on #210
Thanks again. I’ll close the issue here.

[2022-03-20 07:54] #210 closed

[2022-03-20 12:54] ggarra13 opened #416 "src/drivers/Xlib/Fl_Xlib_Graphics_Driver_font_xft.cxx has a libasan error (memcmp read on unitialized memory)"
The function:

static int font_name_process(const char *name, char &face)

in src/drivers/Xlib/Fl_Xlib_Graphics_Driver_font_xft.cxx

has an issue reading (memcmp) from unitialized memory if the font name being compared is too short (like Sans).
Find the attached patch to fix the issue.

[fonts_attrs.patch.txt](https://github.com/fltk/fltk/files/8311252/fonts_attrs.patch.txt)

[2022-03-21 00:07] ggarra13 opened #417 "FLUID: issues with gettext and menus (when created for the second time)"
Currently, static menus are created with Fl_Menu_Item, like:

[code]
Then, gettext is run on the menus, like this:

[code]

The problem is that this modifies the original menu entry, as it is modified thru a pointer.  Ideally we would like a o->copy_label() call but Fl_Menu_Item does not provide one. Another approach would be if the menus would get add()ed like: uiWindows->add( menu_uiWindows[0][0

[2022-03-21 09:21] ManoloFLTK commented on #414
Although the returned values look strange for something with the `double` type, that is indeed what this function returns.

[2022-03-21 09:21] #414 closed

[2022-03-21 09:35] ManoloFLTK commented on #416
Thanks for the patch.

[2022-03-21 09:35] #416 closed

[2022-03-21 10:10] wcout opened #418 "some warnings about unused functions"
These methods seem to be a lost-over from moving code to Unix_System_Driver:

[code]

[2022-03-21 10:47] ManoloFLTK commented on #359
Added new member function `fl_uintptr_t Fl_Window::os_id()` with meaningful implementations for the X11 and macOS platforms.

[2022-03-21 10:47] #359 closed

[2022-03-21 11:16] #418 closed

[2022-03-21 18:06] Albrecht-S commented on #417
As @MatthiasWM wrote in fltk.coredev the "static menus" approach is very old and error prone. Creating menus dynamically in their entirety is now the preferred and recommended method because this can guarantee not to leak memory.

Would creating the menus from scratch by Fl_Menu_Item::add() in the first place and when you recreate the menus be an option? Something like
1. recreate the menu from sc

[2022-03-22 04:25] wcout opened #419 "Wayland: scale/resize issue seen with 'demo' program"
How to reproduce:
- start test/demo
- change scale with `Ctrl+` key
- try to resize the program with the mouse or click on any other window on your desktop

Now the window size of the demo program is wrong (smaller than it should be) and will not recover.

The reason why the demo program is resizable at all is line 173 in demo.cxx:
[code]
When removing this statement the error does not happen. So